{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}
<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> </a>
  </li>

</ul>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <!-- Tab 1 -->
  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 2 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 3</p>
<p>&nbsp;</p>
<p>Now, you are matched with a teammate who also completed Part 1 of the experiment. You will be matched with the same teammate for the entire experiment. The identity of your teammate will remain anonymous for the entire experiment.</p>
<br>
<p>In Part 2 of the experiment, you are asked to provide two estimates:</p>
<p style="text-align: justify; padding-left: 40px;">1. Your estimate concerning the probability that <strong><u>you</u></strong> received a certain number of <span style="color: green;"><strong>Green balls </strong></span> from Part 1.</p>
<p style="text-align: justify; padding-left: 40px;">2. Your estimate concerning the probability that <strong><u>your teammate</u></strong> received a certain number of <span style="color: green;"><strong>Green balls </strong></span> from Part 1.</p>
<br>
<p><em>Reminder:</em></p>
<p style="text-align: justify; padding-left: 40px;">The numbers of Green balls you and your teammate received in Part 1 equal the numbers of sliders you and your teammate correctly positioned, out of 100 sliders, respectively.</p>
<br>
<p>
  By providing each of the estimates, you have the possibility to earn 30 points. 
  Since you are asked to provide two estimates, one concerning yourself and the other concerning your teammate, 
  you will earn 60 points to the maximum from Part 2. 
  <strong>The more precise your estimate is, the more likely you will earn the 30 points.</strong>
  You will see detailed explanations on how you complete the task and how your payoff will be determined on the next pages. 
</p> 
<!-- <p> 
  On the next pages, you will be explained how you complete the task and how your payoff will be determined. 
  If the payoff scheme sounds too intimidating, you may skip the information except that 
  <strong>the more precise your estimate is, the more likely you will earn the 30 points.</strong> 
</p> -->

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>

  <!-- Tab 2 -->
  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<p>&nbsp;</p>  
<h1 style="text-align: center;"><strong>PART 2 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>2</strong> out of 3</p>
<p>&nbsp;</p>  
<p>The screen which we use for asking for your estimate looks like this:</p>
<p style="text-align:center;"><img src="{% static 'Part2_example1_Aug5.png' %}" alt="Part2 screenshot.png" style="width:60%;" class="center"/></p>
<p style="text-align:center;"><img src="{% static 'Part2_example2_Aug5.png' %}" alt="Part2 screenshot.png" style="width:60%;" class="center"/></p>
<p>
  There are 10 bins in each of Box A (the upper box) and Box B (the bottom box).
  Each bin represents a certain quantity (in steps of 10) of Green balls you (Box A) and your teammate (Box B) received in Part 1. 
  For instance, the first bin in Box A stands for you receiving 0-10 Green balls and the tenth bin in Box B stands for your teammate receiving 91-100 Green balls. 
</p>

<p>
  To provide an estimate concerning the probability that you received a certain number of Green balls, 
  you are asked to distribute 100 tokens into the 10 bins in Box A. 
  Each token represents one percentage point. 
  You can distribute tokens to a bin by typing an integer, ranging from 0 to 100. 
  The more likely you deem a certain bin to contain the number of Green balls you received, the more tokens should be put into this bin.
</p>

<p>
  Similarly, to provide an estimate concerning the probability that your teammate received a certain number of Green balls, 
  you are asked to distribute another 100 tokens into the 10 bins in Box B. 
  The more likely you deem a certain bin to contain the number of Green balls your teammate received, the more tokens should be put into this bin.
</p>

<p>
  The task will only be finished when you have distributed exactly 100 tokens into the 10 bins in each of Box A and Box B.
  If you feel confident about the resulting probability distributions 
  because they are good fits to your estimates concerning the numbers of Green balls you and your teammate received, 
  please press the &ldquo;Confirm&rdquo; button to continue with Part 3 of the experiment.
</p>

<p>Here is an example of how it works.</p>
<ul>
  <li>Suppose you distributed tokens as shown in the above screenshot.</li>
  <li>You have placed 50 tokens in each of &ldquo;11-20&rdquo; bin and &ldquo;21-30&rdquo; bin in Box A.
    This implies that you assume that with 50% probability you received between 11 and 20 Green balls
    and with 50% probability you received between 21 and 30 Green balls.</li>  
  <li>You have placed 77 tokens in &ldquo;71-80&rdquo; bin and 23 tokens in &ldquo;81-90&rdquo; bin in Box B.
    This implies that with 77% probability you assume that your teammate received between 71 and 80 Green balls and
    with 23% probability you assume that your teammate received between 81 and 90 Green balls.</li>
  <li>This is just an example to illustrate. The chances you have in mind may be completely different.</li>  
  </ul>

<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    
  </div>

  <!-- Tab 3 -->
  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<p>&nbsp;</p>    
<h1 style="text-align: center;"><strong>PART 2 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>3</strong> out of 3</p>    
<p>&nbsp;</p>    

<p>
  Now, we explain how your payoff will be determined. 
  If it sounds too intimidating, you may skip the information. 
  <br>
  What you must understand, however, is that
  <strong>the more precise your estimate is, the more likely you will earn a higher payoff.</strong>
</p>
<!-- <ul>
  <li><strong>The more precise your estimate is, the more likely you will earn the 30 points.</strong> </li>
  <li>You will receive a higher penalty score and be less likely to earn 30 points 
  as each of your estimates deviates more from the actual number of Green balls you (or your teammate) received.  </li>
</ul>   -->
<p>&nbsp;</p>  
<p style="text-align:center;"><img src="{% static 'Part2_payoffrule_0807.png' %}" alt="Part2 Further Information.png" style="width:80%;" class="center"/></p>
<br>
<p>
  To help your understanding, suppose you (or your teammate) received 55 Green balls. 
  In this case, the bin that contains the number of the actual Green balls you (or your teammate) received is <em>bin "51-60"</em>. 
  <br> Consider the following scenarios. 
</p>

<ul>
  <li> <strong>Scenario 1:</strong> You allocated all the 100 tokens to “51-60” bin. 
    <br> There is no penalty 
    because your estimate is accurate. You earn 30 points with certainty (100 percent chance).</li>
</ul>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-idru{color:#4472C4;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-baqh{text-align:center;vertical-align:top}
  .tg .tg-6t95{font-weight:bold;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;
    will-change:transform}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-2imo{font-style:italic;text-align:center;text-decoration:underline;vertical-align:top}
  </style>
  <table class="tg" align="center" style="border-spacing: 90; width: 100%;">
  <thead>
    <tr>
      <th class="tg-6t95"><span style="color:black">Bins</span></th>
      <th class="tg-6t95"><span style="color:black">0-10</span></th>
      <th class="tg-6t95"><span style="color:black">11-20</span></th>
      <th class="tg-6t95"><span style="color:black">21-30</span></th>
      <th class="tg-6t95"><span style="color:black">31-40</span></th>
      <th class="tg-6t95"><span style="color:black">41-50</span></th>
      <th class="tg-6t95"><span style="color:black">51-60</span></th>
      <th class="tg-6t95"><span style="color:black">61-70</span></th>
      <th class="tg-6t95"><span style="color:black">71-80</span></th>
      <th class="tg-6t95"><span style="color:black">81-90</span></th>
      <th class="tg-6t95"><span style="color:black">91-100</span></th>
      <th class="tg-6t95" rowspan="3"><span style="color:black">Penalty Score</span></th>
    </tr>
    <tr>
      <td class="tg-amwm"><span style="color:black">Does this bin contain </span><br><span style="color:black">the actual number of Green balls?</span></td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"><span style="color:red">Yes</span></td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
      <td class="tg-baqh"> No</td>
    </tr>
    <tr>
      <td class="tg-amwm"><span style="color:black"># tokens you distributed to this bin</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:#4472C4">100</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
      <td class="tg-baqh"><span style="color:black">0</span></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-baqh"> </td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 <span style="color:black">- 0)</span><sup>2</sup></td>
      <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">100</span> </span> <span style="color:red">- 100</span><span style="color:black">)</span><sup>2</sup></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
      <td class="tg-2imo"><span style="color:black">0</span></td>
    </tr>
  </tbody>
  </table>



  <p>&nbsp;</p>    
  <ul>
    <li> <strong>Scenario 2:</strong> You allocated all the 100 tokens to a bin that does not contain, say “41-50” bin.
      <br> Your penalty score is 20000 (the highest possible penalty score) because your estimate is completely wrong. 
      There is no chance of earning 30 points (0 percent chance). </li>
  </ul>
  
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-idru{color:#4472C4;font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-6t95{font-weight:bold;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;
      will-change:transform}
    .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-2imo{font-style:italic;text-align:center;text-decoration:underline;vertical-align:top}
    </style>
    <table class="tg" align="center" style="border-spacing: 90; width: 100%;">
    <thead>
      <tr>
        <th class="tg-6t95"><span style="color:black">Bins</span></th>
        <th class="tg-6t95"><span style="color:black">0-10</span></th>
        <th class="tg-6t95"><span style="color:black">11-20</span></th>
        <th class="tg-6t95"><span style="color:black">21-30</span></th>
        <th class="tg-6t95"><span style="color:black">31-40</span></th>
        <th class="tg-6t95"><span style="color:black">41-50</span></th>
        <th class="tg-6t95"><span style="color:black">51-60</span></th>
        <th class="tg-6t95"><span style="color:black">61-70</span></th>
        <th class="tg-6t95"><span style="color:black">71-80</span></th>
        <th class="tg-6t95"><span style="color:black">81-90</span></th>
        <th class="tg-6t95"><span style="color:black">91-100</span></th>
        <th class="tg-6t95" rowspan="3"><span style="color:black">Penalty Score</span></th>
      </tr>
      <tr>
        <td class="tg-amwm"><span style="color:black">Does this bin contain </span><br><span style="color:black">the actual number of Green balls?</span></td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"><span style="color:red">Yes</span></td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
      </tr>
      <tr>
        <td class="tg-amwm"><span style="color:black"># tokens you distributed to this bin</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">100</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
        <td class="tg-baqh"><span style="color:black">0</span></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-baqh"> </td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">100</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(0</span> <span style="color:red">- 100</span><span style="color:black">)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-baqh"><span style="color:black">(0 - 0)<sup>2</sup></span></td>
        <td class="tg-2imo"><span style="color:black">20000</span></td>
      </tr>
    </tbody>
  </table>    
    
  <p>&nbsp;</p>  
<ul>
  <li> <strong>Scenario 3:</strong> You equally distributed the 100 tokens to each bin.
    <br> Your penalty score is 9000. You earn 30 points with 55 percent chance and no points with 45 percent chance. 
     </li>
</ul>
  
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-idru{color:#4472C4;font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-6t95{font-weight:bold;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;vertical-align:top;
      will-change:transform}
    .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-2imo{font-style:italic;text-align:center;text-decoration:underline;vertical-align:top}
    </style>
    <table class="tg" align="center" style="border-spacing: 90; width: 100%;">
    <thead>
      <tr>
        <th class="tg-6t95"><span style="color:black">Bins</span></th>
        <th class="tg-6t95"><span style="color:black">0-10</span></th>
        <th class="tg-6t95"><span style="color:black">11-20</span></th>
        <th class="tg-6t95"><span style="color:black">21-30</span></th>
        <th class="tg-6t95"><span style="color:black">31-40</span></th>
        <th class="tg-6t95"><span style="color:black">41-50</span></th>
        <th class="tg-6t95"><span style="color:black">51-60</span></th>
        <th class="tg-6t95"><span style="color:black">61-70</span></th>
        <th class="tg-6t95"><span style="color:black">71-80</span></th>
        <th class="tg-6t95"><span style="color:black">81-90</span></th>
        <th class="tg-6t95"><span style="color:black">91-100</span></th>
        <th class="tg-6t95" rowspan="3"><span style="color:black">Penalty Score</span></th>
      </tr>
      <tr>
        <td class="tg-amwm"><span style="color:black">Does this bin contain </span><br><span style="color:black">the actual number of Green balls?</span></td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"><span style="color:red">Yes</span></td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
        <td class="tg-baqh"> No</td>
      </tr>
      <tr>
        <td class="tg-amwm"><span style="color:black"># tokens you distributed to this bin</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
        <td class="tg-baqh"><span style="color:#4472C4">10</span></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-baqh"> </td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(<span style="color:#4472C4">10</span> </span> <span style="color:red">- 100</span><span style="color:black">)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-baqh"><span style="color:black">(</span><span style="color:#4472C4">10</span> <span style="color:black">- 0)</span><sup>2</sup></td>
        <td class="tg-2imo"><span style="color:black">9000</span></td>
      </tr>
    </tbody>
    </table>
  


<p>&nbsp;</p>      
<p>On the next screen, you are presented with comprehension questions.
    If any of your submitted answers are incorrect, you may be excluded from the experiment and deprived of all payments aside from the minimum payment of $5 for attending.</p>
<br>
<p>You can review the instructions by clicking "Back".</p>
<p>Once you get familiar with Part 2 instructions, click "Confirm".</p>


<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button class="nexttab btn-primary btn next">Confirm</button>

{% endblock %}



