{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}
<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/mathjs@9.4.4/lib/browser/math.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
function draw() {
  try {
    // compile the expression once
    const expression = '(x)^(-.5)*100' 
    const expression2 = '(100-x)^(-.5)*100' 
    var expr = math.compile(expression)
    var expr2 = math.compile(expression2)

    // evaluate the expression repeatedly for different values of x
    var xValues = math.range(1, 99, 1, true).toArray()
    var yValues = xValues.map(function (x) {
      return expr.evaluate({x: x}).toFixed(4)
      })
    var yValues2 = xValues.map(function (x) {
      return expr2.evaluate({x: x}).toFixed(4)
      })  

    const xlabel = ['(	1,	99	)',
          '(	2,	98	)',
          '(	3,	97	)',
          '(	4,	96	)',
          '(	5,	95	)',
          '(	6,	94	)',
          '(	7,	93	)',
          '(	8,	92	)',
          '(	9,	91	)',
          '(	10,	90	)',
          '(	11,	89	)',
          '(	12,	88	)',
          '(	13,	87	)',
          '(	14,	86	)',
          '(	15,	85	)',
          '(	16,	84	)',
          '(	17,	83	)',
          '(	18,	82	)',
          '(	19,	81	)',
          '(	20,	80	)',
          '(	21,	79	)',
          '(	22,	78	)',
          '(	23,	77	)',
          '(	24,	76	)',
          '(	25,	75	)',
          '(	26,	74	)',
          '(	27,	73	)',
          '(	28,	72	)',
          '(	29,	71	)',
          '(	30,	70	)',
          '(	31,	69	)',
          '(	32,	68	)',
          '(	33,	67	)',
          '(	34,	66	)',
          '(	35,	65	)',
          '(	36,	64	)',
          '(	37,	63	)',
          '(	38,	62	)',
          '(	39,	61	)',
          '(	40,	60	)',
          '(	41,	59	)',
          '(	42,	58	)',
          '(	43,	57	)',
          '(	44,	56	)',
          '(	45,	55	)',
          '(	46,	54	)',
          '(	47,	53	)',
          '(	48,	52	)',
          '(	49,	51	)',
          '(	50,	50	)',
          '(	51,	49	)',
          '(	52,	48	)',
          '(	53,	47	)',
          '(	54,	46	)',
          '(	55,	45	)',
          '(	56,	44	)',
          '(	57,	43	)',
          '(	58,	42	)',
          '(	59,	41	)',
          '(	60,	40	)',
          '(	61,	39	)',
          '(	62,	38	)',
          '(	63,	37	)',
          '(	64,	36	)',
          '(	65,	35	)',
          '(	66,	34	)',
          '(	67,	33	)',
          '(	68,	32	)',
          '(	69,	31	)',
          '(	70,	30	)',
          '(	71,	29	)',
          '(	72,	28	)',
          '(	73,	27	)',
          '(	74,	26	)',
          '(	75,	25	)',
          '(	76,	24	)',
          '(	77,	23	)',
          '(	78,	22	)',
          '(	79,	21	)',
          '(	80,	20	)',
          '(	81,	19	)',
          '(	82,	18	)',
          '(	83,	17	)',
          '(	84,	16	)',
          '(	85,	15	)',
          '(	86,	14	)',
          '(	87,	13	)',
          '(	88,	12	)',
          '(	89,	11	)',
          '(	90,	10	)',
          '(	91,	9	)',
          '(	92,	8	)',
          '(	93,	7	)',
          '(	94,	6	)',
          '(	95,	5	)',
          '(	96,	4	)',
          '(	97,	3	)',
          '(	98,	2	)',
          '(	99,	1	)']

    // render the plot using plotly
    var trace1 = {
        type: 'scatter',
        mode: 'lines+markers',
        x: xlabel,
        y: yValues,
        name: 'Urn 1',
        hoverinfo: 'y',
        hovertemplate: 'You earn <b>%{y} points</b> for every Green ball drawn from <b>Urn 1</b>.'+ "<extra></extra>",
        showlegend: true
      }

    var trace2 = {
      x: xlabel,
      y: yValues2,
      type: 'scatter',
      mode: 'lines+markers',
      hoverinfo: 'y',
      hovertemplate: 'You earn <b>%{y} points</b> for every Green ball drawn from <b>Urn 2</b>.'+ "<extra></extra>",
      name: 'Urn 2',
      hoverdistance: -1,
      showlegend: true
      }

    var layout = {
      hovermode:'x unified',
      title: 'The Points You Earn for a Green ball Drawn from Each Urn',
      titlefont: {
        family: 'Old Standard TT, serif',
        size: 22,
        },
        xaxis: {
          // showticklabels : false, 
          title: 'Your decision <br> (# of balls to be drawn from Urn 1, # of balls to be drawn from Urn 2)',
          titlefont: {
            family: 'Old Standard TT, serif',
            size: 20,
            },
          tickfont: {
            family: 'Old Standard TT, serif',
            size: 14,
            color: 'black',
            range: [1,99],
            },
          zeroline: true,  
          tickmode: "array", // If "array", the placement of the ticks is set via `tickvals` and the tick text is `ticktext`.
          tickvals: [0, 9, 19, 29, 39, 49, 59, 69, 79, 89, 99],
        ticktext: ['( 1, 99 )','( 10, 90 )', '( 20, 80 )', '( 30, 70 )', '( 40, 60 )','( 50, 50 )','( 60, 40 )','( 70, 30 )','( 80, 20 )','( 90, 10 )','( 99, 1 )'],  
      },
        yaxis: {
          hoverformat: '.2f',
          title: 'Points',
          titlefont: {
            family: 'Old Standard TT, serif',
            size: 20,
            },
          tickfont: {
            family: 'Old Standard TT, serif',
            size: 14,
            color: 'black',
            range: [0,100],
            },
          },
        width: 1200,  
      };
      
    var data = [trace1, trace2]
    Plotly.newPlot('plot', data, layout, {displayModeBar: true, displaylogo: false})

    }

    catch (err) {
      console.error(err)
      alert(err)
      }
  }

draw()
</script>

<script>

function draw2() {

  function check() {
    //validation code
    const mine = document.getElementById('guess_mine').value
    const teammate = document.getElementById('guess_teammate').value  
    if (mine== parseInt(mine) && teammate == parseInt(teammate) && parseInt(mine) >=0 && parseInt(mine) <=100 && parseInt(teammate) >=0 && parseInt(teammate) <=100) {
      return true;
      } else{
        alert("You must enter an integer from 0-100 for each of the guesses")
      }
}  

  if (check()) {
  try {

    //compile the expression once
    const mine = document.getElementById('guess_mine').value
    const teammate = document.getElementById('guess_teammate').value    
    const r1 = document.getElementById('guess_mine').value /200 + document.getElementById('guess_teammate').value /200
    const r2 = 60/200
    const expression = r1 + '*(x)^.5 *100 +' + r2 + '*(100-x)^.5 *100' // x = # balls to draw from Urn 1 
    const expr = math.compile(expression)

    // evaluate the expression repeatedly for different values of x
    const xValues = math.range(1, 99, 1, true).toArray()
    const yValues = xValues.map(function (x) {
      return expr.evaluate({x: x})
      })
          
    const yOptimal = math.max(yValues)
  
    const index = yValues.findIndex(fruit => fruit == yOptimal)
    const Draw1_Optimal = xValues[index]
    const Draw2_Optimal = 100 - Draw1_Optimal
  
    const ExpectedGreen = r1*Draw1_Optimal + r2*Draw2_Optimal
    const ExpectedLT = yOptimal.toFixed(2)
  
    const xlabel = ['(	1,	99	)',
          '(	2,	98	)',
          '(	3,	97	)',
          '(	4,	96	)',
          '(	5,	95	)',
          '(	6,	94	)',
          '(	7,	93	)',
          '(	8,	92	)',
          '(	9,	91	)',
          '(	10,	90	)',
          '(	11,	89	)',
          '(	12,	88	)',
          '(	13,	87	)',
          '(	14,	86	)',
          '(	15,	85	)',
          '(	16,	84	)',
          '(	17,	83	)',
          '(	18,	82	)',
          '(	19,	81	)',
          '(	20,	80	)',
          '(	21,	79	)',
          '(	22,	78	)',
          '(	23,	77	)',
          '(	24,	76	)',
          '(	25,	75	)',
          '(	26,	74	)',
          '(	27,	73	)',
          '(	28,	72	)',
          '(	29,	71	)',
          '(	30,	70	)',
          '(	31,	69	)',
          '(	32,	68	)',
          '(	33,	67	)',
          '(	34,	66	)',
          '(	35,	65	)',
          '(	36,	64	)',
          '(	37,	63	)',
          '(	38,	62	)',
          '(	39,	61	)',
          '(	40,	60	)',
          '(	41,	59	)',
          '(	42,	58	)',
          '(	43,	57	)',
          '(	44,	56	)',
          '(	45,	55	)',
          '(	46,	54	)',
          '(	47,	53	)',
          '(	48,	52	)',
          '(	49,	51	)',
          '(	50,	50	)',
          '(	51,	49	)',
          '(	52,	48	)',
          '(	53,	47	)',
          '(	54,	46	)',
          '(	55,	45	)',
          '(	56,	44	)',
          '(	57,	43	)',
          '(	58,	42	)',
          '(	59,	41	)',
          '(	60,	40	)',
          '(	61,	39	)',
          '(	62,	38	)',
          '(	63,	37	)',
          '(	64,	36	)',
          '(	65,	35	)',
          '(	66,	34	)',
          '(	67,	33	)',
          '(	68,	32	)',
          '(	69,	31	)',
          '(	70,	30	)',
          '(	71,	29	)',
          '(	72,	28	)',
          '(	73,	27	)',
          '(	74,	26	)',
          '(	75,	25	)',
          '(	76,	24	)',
          '(	77,	23	)',
          '(	78,	22	)',
          '(	79,	21	)',
          '(	80,	20	)',
          '(	81,	19	)',
          '(	82,	18	)',
          '(	83,	17	)',
          '(	84,	16	)',
          '(	85,	15	)',
          '(	86,	14	)',
          '(	87,	13	)',
          '(	88,	12	)',
          '(	89,	11	)',
          '(	90,	10	)',
          '(	91,	9	)',
          '(	92,	8	)',
          '(	93,	7	)',
          '(	94,	6	)',
          '(	95,	5	)',
          '(	96,	4	)',
          '(	97,	3	)',
          '(	98,	2	)',
          '(	99,	1	)']

    

    // render the plot using plotly
    const trace1 = {
      x: xlabel,
      y: yValues,
      type: 'scatter',
      mode: 'lines+markers',
      name: '',
      showlegend: false,
      hovertemplate: ' If you draw %{x} balls from Urn 1 and Urn 2, <br> you are expected to earn <b>%{y} points</b>.'+ "<extra></extra>",
      }
  
    const layout = {
      title: 'The Expected Number of Points You Will Earn',
      titlefont: {
        family: 'Old Standard TT, serif',
        size: 20,
        },
      xaxis: {
        title: 'Your decision <br> (# of balls to draw from Urn 1, # of balls to draw from Urn 2)',
        titlefont: {
          family: 'Old Standard TT, serif',
          size: 18,
          },
        tickfont: {
          family: 'Old Standard TT, serif',
          size: 14,
          color: 'black',
          range: [1,99],
          },
        tickmode: "array", // If "array", the placement of the ticks is set via `tickvals` and the tick text is `ticktext`.
        tickvals: [0, 9, 19, 29, 39, 49, 59, 69, 79, 89, 99],
        ticktext: ['(1,99)','(10,90)', '(20,80)', '(30,70)', '(40,60)','(50,50)','(60,40)','(70,30)','(80,20)','(90,10)','(99,1)']
        },
      yaxis: {
        title: 'The Expected Number of Points',
        titlefont: {
          family: 'Old Standard TT, serif',
          size: 18,
          },
        tickfont: {
          family: 'Old Standard TT, serif',
          size: 14,
          color: 'black',
          },
        hoverformat: '.2f',
        autorange: true, 
        // range: [0,25],
        },
      autosize: true,
      width: 700,
      height: 500,
      margin: {
        l: 50,
        r: 50,
        b: 100,
        t: 100,
        pad: 4
        },   
    hoverlabel: { bgcolor: "#FFF" },    
    annotations: [
    {
      x: Draw1_Optimal,
      y: yOptimal,
      xref: 'x',
      yref: 'y',
      text: 'The maximum',
      showarrow: true,
      arrowhead: 7,
      font: {
        size: 15,
        color: '#ff0000'
      },
      arrowcolor: '#ff0000',
      ax: 0,
      ay: -40
    }
  ]
      };
  
    const data = [trace1]
    Plotly.newPlot('plot2', data, layout, {displayModeBar: true, displaylogo: false})
          
    $('#reported_mine').html(mine);
    $('#reported_teammate').html(teammate);
    $('#RecommendedAction1').html(Draw1_Optimal);
    $('#RecommendedAction2').html(Draw2_Optimal);
    $('#ExpectedGreen').html(ExpectedGreen);
    $('#ExpectedLT').html(ExpectedLT);
    }
  
  catch (err) {
    console.error(err)
    alert(err)
    }
  }
}
draw2()
</script>



<script>
  $(document).ready(function(){
    var slider = document.getElementById("DecisionSlider2");
    var urn1 = document.getElementById("Urn1_2");
    var urn2 = document.getElementById("Urn2_2");
    urn1.innerHTML = slider.value; // Display the default slider value
    urn2.innerHTML = 100 - slider.value;
  
    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      urn1.innerHTML = this.value;
      urn2.innerHTML = 100 - this.value;
    }
  
    });
  </script>

<script>
  function myFunction2() {
  
    var slider = document.getElementById("DecisionSlider");
    var urn1 = document.getElementById("Urn1");
    var urn2 = document.getElementById("Urn2");
    urn1.innerHTML = slider.value; // Display the default slider value
    urn2.innerHTML = 100 - slider.value;

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      urn1.innerHTML = this.value;
      urn2.innerHTML = 100 - this.value;
      };

    };
</script>

<script>
  function myFunction() {
  
    var slider = document.getElementById("DecisionSlider_ex");
    var urn1 = document.getElementById("Urn1_ex");
    var urn2 = document.getElementById("Urn2_ex");
    urn1.innerHTML = slider.value; // Display the default slider value
    urn2.innerHTML = 100 - slider.value;

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      urn1.innerHTML = this.value;
      urn2.innerHTML = 100 - this.value;
      };

    };
</script>

{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

<style>

.myslider{
  width: 100%;
  }

.myslider {
  -webkit-appearance: none;
  background: #e0e0e0;
  width: 100%;
  height: 25px;
  opacity: 2;
  }

.myslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: #4f5e60  ;
  width: 15px;
  height: 25px;
  }

.myslider:hover {
  opacity: 1;
  }

 </style>

 
<style>

  .grid-container {
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "decision_tool history"
      "decision_tool history"
      "decision history";
  }
  
  .decision { grid-area: decision; }
  
  .history { grid-area: history; }
  
  .decision_tool { grid-area: decision_tool; }
  
  </style>
  

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part5-tab" data-toggle="tab" href="#part5" role="tab" aria-controls="part5" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part6-tab" data-toggle="tab" href="#part6" role="tab" aria-controls="part6" onclick="topFunction()"> </a>
  </li>

</ul>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <!-- Tab 1 -->
  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">You did not answer all questions correctly. </h4>
      <p>Please read the instructions again and correct your answers.</p>
    </div>
    {% endif %}
    
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 4</p>
<p>&nbsp;</p>

<p>
  Part 3 consists of {{num_game_round}} rounds.
</p>
<p>
  In Part 3, you are presented with two urns.
  Each urn contains a total of 200 balls, each of which is Green or Black.
</p>
  <ul>
    <li>
    <!-- <strong><em>Urn 1</em></strong> contains 200 balls. -->
    <!-- There are twice as many Green balls as <strong>YOU</strong> received in Part 1 .  -->
    Out of the 200 balls in <strong><em>Urn 1</em></strong>, there are as many as Green balls as <strong>YOU</strong> and <strong>YOUR TEAMMATE</strong> received in Part 1 . 
    The rest of the balls are Black.
    </li>
    <li>
    <!-- <em><strong>Urn 2</strong></em> contains 200 balls.
    There are twice as many Green balls as <strong>YOUR TEAMMATE</strong> received in Part 1 .  -->
    Out of the 200 balls in <strong><em>Urn 2</em></strong>, there are {{subcontractor}} Green balls. 
    The rest of the balls are Black.
    </li>
  </ul>



<p>
In every round, you are asked to draw a total of 100 balls from Urn 1 and Urn 2 <em>with replacement</em>.
<em>"With replacement"</em> means that once you draw a ball from one of the two urns, 
you put the ball back in the urn where it was drawn before you draw another ball. 
Drawing with replacement makes the probabilities of drawing a Green ball (and the probabilities of drawing a Black ball) from Urn 1 and Urn 2 constant.
</p>

<Br>
<p>Here are some examples:</p>

<ul>
  <li>
    Suppose you received 40 Green balls and your teammate received 20 Green balls in Part 1.
    <br>
    This means, whenever a ball is drawn from Urn 1, the ball is Green with a (40+20)/2 = 30 percent chance and Black with the remaining percent chance (100-30 = 70 percent chance).
    Furthermore, whenever a ball is drawn from Urn 2, the ball is Green with a {{subcontractor}}/2 = {{urn2_green}} percent chance and Black with the remaining percent chance (100-{{urn2_green}} = {{urn2_black}} percent chance).
  </li>
  <li>
    Suppose you received 50 Green balls and your teammate received 50 Green balls in Part 1.
    <br>
    This means, whenever a ball is drawn from Urn 1, the ball is Green with a (50+50)/2 = 50 percent chance and Black with the remaining percent chance (100-50 = 50 percent chance).
    Furthermore, whenever a ball is drawn from Urn 2, the ball is Green with a {{subcontractor}}/2 = {{urn2_green}} percent chance and Black with the remaining percent chance (100-{{urn2_green}} = {{urn2_black}} percent chance).
  </li>
  <li>
    Suppose you received 75 Green balls and your teammate received 80 Green balls in Part 1.
    <br>
    This means, whenever a ball is drawn from Urn 1, the ball is Green with a (75+80)/2 = 77.5 percent chance and Black with the remaining percent chance (100-77.5 = 22.5 percent chance).
    Furthermore, whenever a ball is drawn from Urn 2, the ball is Green with a {{subcontractor}}/2 = {{urn2_green}} percent chance and Black with the remaining percent chance (100-{{urn2_green}} = {{urn2_black}} percent chance).
  </li>
  <li>These are just examples for your clarification. 
    The chances you will face in the actual experiment depend on how many Green balls you and your teammate received in Part 1.</li>  
</ul>


<br>
<p>
  Remember that you and your teammate received Green balls based on the performance of the slider task in Part 1.  
  The better <strong>YOU</strong> were at the slider task, the more Green balls you received, and hence the more Green balls there are in <strong>Urn 1</strong>.
  The better <strong>YOUR TEAMMATE</strong> was at the slider task, the more Green balls your teammate received, and hence the more Green balls there are in <strong>Urn 1</strong>.
</p>



<br>

<p>
  Your task in Part 3 is to decide how many balls to draw from each urn.
  You can draw 1-99 balls from a single urn. <br>
  To indicate your decision, you will have to position a decision slider in every round. The below is a practice decision slider.
  Try to move the slider. You should see the numbers on the left and right side changing as you move the slider. <br>
  <!-- <u> <em>Draw x balls from Urn 1 and draw (100-x) balls from Urn 2, where 1<span>&#8804;</span>x<span>&#8804;</span>99.</em></u>   -->
</p>
<br>

<table class="table borderless" align="center" style="border-spacing: 90; width: 70%; font-size: 115%;">
  <colgroup>
  <col width="20%">
  <col width="60%">
  <col width="20%">
  </colgroup>

  <tr>
  <td align="center" style = "vertical-align: middle;"> From Urn 1, draw <br> <strong> <span id="Urn1_ex"> NaN </span> </strong> balls </td>
  <td align="center" style = "vertical-align: middle;"> 
    <input type="hidden" id="check_DecisionSlider_ex"> 
    <input type="range" min="1" max="99" class = "myslider" id="DecisionSlider_ex" step="1" onclick="myFunction()"> 
  </td>
  <td align="center" style = "vertical-align: middle;"> From Urn 2, draw <br> <strong> <span id="Urn2_ex"> NaN </span> </strong> balls </td>
  </tr> 
</table>

<br>
<p>
  Once you submit your decision on how many balls to draw from each urn, the computer draws 100 balls accordingly. 
  As a result of the submitted decision and the colors of the drawn balls, you will earn points. 
  We will explain how you earn points and how the points you earned will be translated into your payoff in the next pages.
</p>

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

</div>


<!-- Tab 2 -->
<div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

  <p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>2</strong> out of 4</p>
<p>&nbsp;</p>
<!-- <h3><strong>How do you earn points?</strong></h3> -->
<p>
  In every round, you have a chance to win a prize worth {{prize}} Experimental Dollars.
  <strong>The chance of winning the prize increases as you earn more points.</strong>

  Specifically, the computer draws a random number "X" from the interval [0,{{max_lt}}] at the end of every round. 
  Any number within the interval [0,{{max_lt}}] is equally likely to be selected.
  If the points you earned is greater than or equal to "X", you win the prize.
  If the points you earned is less than "X", you receive nothing.
</p>

<br>
<p>
  Here are some examples:
</p>
<ul>
  <li>
    If you've earned 0 points, there is no chance that you win the prize (0/2500).
  </li>
  <li>
    If you've earned 100 points, you win the prize with a 4 percent chance (100/2500).
  </li>
  <!-- <li>
    If you've got 2 lottery ticket, you win the prize with 8 percent chance (2/25).
  </li>
  <li>
    If you've got 3 lottery ticket, you win the prize with 12 percent chance (3/25).
  </li>
  <li>
    If you've got 4 lottery ticket, you win the prize with 16 percent chance (4/25).
  </li>
  <li>
    If you've got 5 lottery ticket, you win the prize with 20 percent chance (5/25).
  </li>
  <li>
    If you've got 6 lottery ticket, you win the prize with 24 percent chance (6/25).
  </li>
  <li>
    If you've got 7 lottery ticket, you win the prize with 28 percent chance (7/25).
  </li>
  <li>
    If you've got 8 lottery ticket, you win the prize with 32 percent chance (8/25).
  </li>
  <li>
    If you've got 9 lottery ticket, you win the prize with 36 percent chance (9/25).
  </li> -->
  <li>
    If you've earned 1000 points, you win the prize with a 40 percent chance (1000/2500).
  </li>
  <!-- <li>
    If you've got 11 lottery ticket, you win the prize with 44 percent chance (11/25).
  </li>
  <li>
    If you've got 12 lottery ticket, you win the prize with 48 percent chance (12/25).
  </li>
  <li>
    If you've got 13 lottery ticket, you win the prize with 52 percent chance (13/25).
  </li>
  <li>
    If you've got 14 lottery ticket, you win the prize with 56 percent chance (14/25).
  </li>
  <li>
    If you've got 15 lottery ticket, you win the prize with 60 percent chance (15/25).
  </li>
  <li>
    If you've got 16 lottery ticket, you win the prize with 64 percent chance (16/25).
  </li>
  <li>
    If you've got 17 lottery ticket, you win the prize with 68 percent chance (17/25).
  </li>
  <li>
    If you've got 18 lottery ticket, you win the prize with 72 percent chance (18/25).
  </li>
  <li>
    If you've got 19 lottery ticket, you win the prize with 76 percent chance (19/25).
  </li> -->
  <li>
    If you've earned 2000 points, you win the prize with a 80 percent chance (2000/2500).
  <!-- </li>
  <li>
    If you've got 21 lottery ticket, you win the prize with 84 percent chance (21/25).
  </li>
  <li>
    If you've got 22 lottery ticket, you win the prize with 88 percent chance (22/25).
  </li>
  <li>
    If you've got 23 lottery ticket, you win the prize with 92 percent chance (23/25).
  </li>
  <li>
    If you've got 24 lottery tickets, you win the prize with 96 percent chance (24/25).
  </li> -->
  <li>
    If you've earned 2500 points or more than 2500 points, you win the prize with a 100 percent chance (2500/2500).
  </li>
</ul>

<br>
<p>
  At the end of Part 3, i.e. when you finished all of {{num_game_round}} rounds, 
  one of the earnings from these {{num_game_round}} rounds will be randomly chosen as your payment from Part 3.
</p>




<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
  
  </div>


<!-- Tab 3 -->
<div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>3</strong> out of 4</p>
<p>&nbsp;</p>
<p>
  <strong>How do you earn points? </strong>
</p>

<p>
  There are two factors that determine your points:
</p>
<p style="padding-left: 10px;">
<em>(1) How many Green balls are drawn:</em>
</p>
<p style="padding-left: 25px;">
  Once you submit your decision on how many balls to draw from each urn, the computer draws 100 balls accordingly.
  If a drawn ball is Green, the Green ball awards you a positive number of points. 
  If a drawn ball is Black, the Black ball awards you 0 points. 
  <br>
  <em><u>Therefore, you will earn more points as you get to draw more <span style="color: green;"><strong>Green</strong></span> balls.</u></em>
  <!-- For every drawn <span style="color: green;"><strong>Green</strong></span> ball, you earn some points.
  For every drawn Black ball, you earn 0 points. -->
</p>

<p style="padding-left: 10px;">
  <em>(2) How many balls you decide to draw from each urn: </em>
</p>
<p style="padding-left: 25px;">
  How many points do you earn for each of the drawn Green balls? 
  This depends on how many balls you have drawn from the two urns.

  <em><u>
    The more balls you have drawn from one urn, the fewer points you will receive from every Green ball drawn from that urn.
    The fewer balls you have drawn from one urn, the more points you will receive from every Green ball drawn from the urn.
  
    <!-- you earn the less points for a Green ball drawn from that urn 
    and you earn the more points for a Green ball drawn from the other urn. -->
  </u></em>
  The figure below visualizes the relationship. 
  <!-- between your decision rnon how many balls to draw from each u 
  and the number of points that a Green ball drawn from each urn awards you. -->
  The x-axis represents your decisions on how many balls to draw from each urn. 
  As the x-value gets closer to the right, it means you have drawn more balls from Urn 1 and have drawn fewer balls from Urn 2. 
  For example, the very left value on the x-axis (1,99) indicates you have drawn 1 ball from Urn 1 and 99 balls from Urn 2. 
  The very right value on the x-axis (99,1) indicates you have drawn 99 balls from Urn 1 and 1 ball from Urn 2. 
  The y-axis represents the number of points you will earn for every Green ball drawn from each urn. 
  If you take your mouse cursor on the figure, it displays exact values. 
  <br> 
  <br> 
  Here are some examples of how you read the figure. 
  <ul>
    <li>
      Suppose you decide to draw 10 balls from Urn 1 and 90 balls from Urn 2. The decision is denoted (10,90) on the x-axis.
  Take your mouse cursor to where the value on the x-axis equals (10,90).  
  Then, you will see the corresponding information that every green ball drawn from Urn 1 awards you 31.62 points (blue line)
  and that every green ball drawn from Urn 2 awards you 10.54 points (orange line).
    </li>
    <!-- <li>
      Suppose you decides to draw 1 balls from Urn 1 and 99 balls from Urn 2. The decision is denoted (1,99) on the x-axis.
  Take your mouse cursor on the very right of the figure where the value on the x-axis equals (1,99).  
  Then, you will see the corresponding information that a green ball drawn from Urn 1 awards you a lottery ticket with 100 percent chance (blue line)
  and that a green ball drawn from Urn 2 awards you a lottery ticket with 10.05 percent chance (orange line).
    </li> -->
    <!-- <li>
      Suppose you decides to draw 10 balls from Urn 1 and 90 balls from Urn 2. The decision is denoted (10,90) on the x-axis.
  Take your mouse cursor to where the value on the x-axis equals (10,90).  
  Then, you will see the corresponding information that a green ball drawn from Urn 1 awards you a lottery ticket with 31.62 percent chance (blue line)
  and that a green ball drawn from Urn 2 awards you a lottery ticket with 10.54 percent chance (orange line).
    </li> -->
    <li>
      Suppose you decide to draw 50 balls from Urn 1 and 50 balls from Urn 2. The decision is denoted (50,50) on the x-axis.
  Take your mouse cursor to the center of the figure where the value on the x-axis equals (50,50).  
  Then, you will see the corresponding information that every green ball drawn from Urn 1 awards you 14.14 points (blue line)
  and that every green ball drawn from Urn 2 also awards you 14.14 points (orange line).
    </li>
    <li>
      Suppose you decide to draw 90 balls from Urn 1 and 10 balls from Urn 2. The decision is denoted (90,10) on the x-axis.
  Take your mouse cursor to where the value on the x-axis equals (90,10).  
  Then, you will see the corresponding information that every green ball drawn from Urn 1 awards you 10.54 points (blue line)
  and that every green ball drawn from Urn 2 awards you 31.62 points (orange line).
    </li>
  </ul>
</p>

<br>
<div align="center" id="plot"></div>

<!-- <br>
<p>
  For example, if you take your mouse cursor on the very right of the figure where the value on the x-axis equals 99, 
  you will see the corresponding y-value is 10. 
  This means, if you decided to draw 99 balls from one urn (either Urn 1 or Urn 2), 
  a Green ball drawn from the same urn awards you a lottery ticket with 10 percent chance. 
  As another example, take your mouse cursor on the very left of the figure where the value on the x-axis equals 1 and the corresponding y-value is 99.5.
  This means, if you decided to draw one ball from one urn (either Urn 1 or Urn 2) and the drawn ball is Green, the Green ball awards you a lottery ticket with 99.5 percent chance.
</p> -->
<br>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
  
  </div>


<!-- Tab 4 -->
<div class="tab-pane" id="part5" role="tabpanel" aria-labelledby="part4-tab">

  <p>&nbsp;</p>
  <h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
  <p style="text-align: center;">Page <strong>4</strong> out of 4</p>
  <p>&nbsp;</p>
<p>
  <strong>What should you do to make a good decision? </strong>
</p>
<p>
  What should you do to earn as many points as possible and increase the probability of winning the prize of 200 Experimental Dollars?
  On one hand, you should draw more balls from the urn that, you believe, contains more Green balls 
  because you will earn more points as you get to draw more Green balls.
  On the other hand, you do not want to draw too many balls from the urn even if you are very confident that it has far more Green balls than the other urn. 
  The more balls are drawn from one urn, the fewer points you will earn for every Green ball drawn from that urn.  
  <!-- Therefore, it is obviously not simple to make the optimal ball-draw decision (which guarantees the highest probability of earning 200 points) 
  and to predict how many lottery tickets you will get. -->
</p>
<p>
  To help your decision-making, we provide a simulator in every decision-making screen.
  To use the simulator, you must report your guesses about how many Green balls you and your teammate received in Part 1. 
  Conditional on your guesses, the simulator predicts the expected number of points you will earn for every possible decision. 
  By <em>"the expected number of points"</em>, we mean
  the average number of points you will earn if you repeatedly make the same decision infinitely many times. 
  The simulator can inform you the optimal decision that, conditional on your reported guesses, 
  maximizes the expected number of points you will earn and hence guarantees the highest probability of winning the prize. 
</p>

<br>
<p>
  <strong>Practice decision-making! </strong>
</p>

<p>
  Here, you can play around with the simulator and practice your decision-making.
  The below is the decision-making screen you will face in the actual decision-making rounds. 
</p>

<p>
  There is the simulator on the top left of the decision-making screen. 
  Note that your guesses about the number of Green balls you and your teammate received are set to be zero by default.
  To revise your guesses, you should enter an integer from 0-100 for each of the guesses 
  (the minimum and the maximum numbers of Green balls one can receive are 0 and 100). 
  Once you click the "Calculate" button, you will see the corresponding simulation result.
  You may enter different guesses as many times as you wish. 
  Whenever you enter new guesses, you must click the "Calculate" button so that the simulator updates the simulation results accordingly.
</p>
<p>
  How do you interpret the simulation results?
  First, the x-axis represents your potential decisions.
  As the x-value gets closer to the right, it means more balls are drawn from Urn 1 and fewer balls are drawn from Urn 2.
  For example, the very left value on the x-axis (1,99) indicates you draw 1 ball from Urn 1 and 99 balls from Urn 2.
  The very right value on the x-axis (99,1) indicates you draw 99 balls from Urn 1 and 1 ball from Urn 2.
  
  Second, the y-axis represents the expected number of points you will earn, conditional on your entered guesses.
  Taking your mouse cursor on the simulation results displays the exact values. 
</p>
<br>
<p>
As an example, let's suppose you are guessing you received 40 Green balls and your teammate received 60 Green balls. 
</p>

<ul>
<li>
  Using the below practice simulator, enter 40 and 60 for your guesses about yourself and about your teammate, respectively. 
  Then click the "Calculate" button.
</li>

<li>
  Once you have done this, you will see the simulator update the result. 
  The simulation result (i.e., the blue dots) shows every pair of your potential decision and the expected number of points you will earn, 
  conditional on the entered guesses that you received 40 Green balls and your teammate received 60 Green balls. 
</li>

<li>
  For instance, conditional on the entered guesses, 
  you are expected to earn 348.5 points when you draw 1 ball from Urn 1 and 99 balls from Urn 2 (the very left of the x-axis).
  Conditional on the entered guesses, 
  you are expected to earn 527.49 points when you draw 99 balls from Urn 1 and 1 ball from Urn 2 (the very right of the x-axis).
  Also, notice that, the optimal decision that, conditional on your entered guesses, maximizes the expected number of points you will earn is tagged in red.
  In this example, conditional on the entered guesses that you received 40 Green balls and your teammate received 60 Green balls, 
  you are expected to earn 583.09 points, which is the maximum, when you draw 74 balls from Urn 1 and 26 balls from Urn 2. 
  The simulator also announces the optimal decision at the bottom of the simulation results.
</li>

</ul>
<br>
<!-- <p>
  Using the below practice simulator, enter 40 and 60 for your guesses about yourself and about your teammate, respectively. 
  Then click "Calculate" button.
<br>  
  Once you have done this, you will see the simulator update the result. 
  The simulation result (i.e., the blue dots) shows every pair of your potential decision and the expected number of points you will earn, 
  conditional on the entered guesses that you received 40 Green balls and your teammate received 60 Green balls. 
  For instance, conditional on the entered guesses, 
  you are expected to earn 6.37 points when you draw 1 ball from Urn 1 and 99 balls from Urn 2 (the very left of the x-axis).
  Conditional on the entered guesses, 
  you are expected to earn 4.58 points when you draw 99 balls from Urn 1 and 1 ball from Urn 2 (the very right of the x-axis).
  Also, notice that, the optimal decision that, conditional on your entered guesses, maximizes the expected number of points you will earn is tagged in red.
  In this example, conditional on the entered guesses that you received 40 Green balls and your teammate received 60 Green balls, 
  you are expected to earn 7.21 points, which is the maximum, when you draw 31 balls from Urn 1 and 69 balls from Urn 2. 
  The simulator also announces the optimal decision at the bottom of the simulation results.
</p> -->
<p>
  To indicate your decision, you should use the decision-slider located at the bottom left of the decision-making screen. 
    You can submit your decision by clicking the "Submit" button,
    which will appear at the bottom right of the screen in 15 seconds after each round begins. 
    Once you have submitted your decision, you may not reverse your decision.
    Afterward, you will receive information about 
    the number of points you actually earned in that round.
</p>
<p>
  To help you keep track of your decisions over time, 
  we also provide you with a history box located on the right of the decision-making screen.
</p>


<br>
<!--------------------------------------------------------------------------->
<div class="grid-container" style = "background-color: rgba(190, 190, 190, 0.26); padding: 0px; margin: 0px; width: 110%;">

	<!-- decision tool -->
<br>
<div class="decision_tool" style = "width: 100%; border: 2px solid rgb(10, 10, 10); padding: 10px; margin: 10px; font-size: 100%;" >

  <h3 style="text-align: center;"> Simulator </h3>
  
  <table class="table borderless" align="center" style="border-spacing: 90; width: 75%; font-size: 100%;">
    <colgroup>
    <col width="40%">
    <col width="40%">
    <col width="20%">
    </colgroup>
      
    <tr>
    <td align="center"> Your Guess about <br> # of GREEN balls <b> YOU </b> received </td>
    <td align="center"> Your Guess about <br> # of GREEN balls <b> YOUR TEAMMATE </b> received </td>
    <td align="center"> </td>
    </tr>
      
    <tr>
    <td align="center"> <input type='text' id='guess_mine' value='0' /> </td>
    <td align="center"> <input type='text' id='guess_teammate' value='0' /> </td>
    <!-- <td align="center"> <input type="submit" value="Calculate" /> </td> -->
    <td> <button type="button" onclick="draw2()" >Calculate</button>  </td>
    </tr>
      
  </table>
  
  <div id="plot2" align="center"></div> 
  
  <br>
  <p style="padding-left: 10px;"> 
    Conditional on that you received <strong><span id="reported_mine">  </span></strong> Green balls 
    and your teammate received <strong><span id="reported_teammate">  </span></strong> Green balls, 
    the expected number of points is maximized
    when you draw <strong><span id="RecommendedAction1"> </span></strong> balls from Urn 1 and <strong><span id="RecommendedAction2"> </span></strong> balls from Urn 2.
    You are expected to earn <strong><span id="ExpectedLT"> </span></strong> points.
  </p>


    </div>

    
	<!-- History -->
	<div class="history" style = "width: 95%; font-size: 75%; border: 2px solid rgb(10, 10, 10); padding: 0px; margin: 10px; ">
	
    <h3 style="text-align: center;"> Round History </h3>
    <br>
    <table class="table" style="border-spacing: 90; width: 95%;">
      <colgroup>
      <col width="5%">
      <col width="19%">
      <col width="19%">
      <col width="19%">
      <col width="19%">
      <col width="19%">
      <!-- <col width="20%"> -->
      </colgroup>
    
      <tr>
        <th rowspan="2" style= "vertical-align: middle; text-align: center;" >Round</th>
        <th colspan="2" style="text-align: center;">Your Guess</th>
        <th colspan="2" style="text-align: center;">Your Decision</th>
        <!-- <th rowspan="2" style= "vertical-align: middle; text-align: center;"># of GREEN balls drawn</th> -->
        <th rowspan="2" style= "vertical-align: middle; text-align: center;">Points You Earned</th>
      </tr>
      <tr>
        <th style= "vertical-align: middle; text-align: center;">Your Guess about # of GREEN balls you received</th>
        <th style= "vertical-align: middle; text-align: center;">Your Guess about # of GREEN balls you received</th>
        <th style= "vertical-align: middle; text-align: center;"># of balls drawn<br>from Urn 1</th>
        <th style= "vertical-align: middle; text-align: center;"># of balls drawn<br>from Urn 2</th>
      </tr>
    

      <tr>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <!-- <td style= "vertical-align: middle;" align = "center"></td> -->
      </tr>

    
    </table>	
      </div>
    
      
      <!-- Decision -->
      <div class="decision" style = "width: 100%; border: 2px solid rgb(10, 10, 10); padding: 10px; margin: 10px; font-size: 75%;" >
    
    <h3 style="text-align: center;"> Make your decision! </h3>
    <br>		
    <table class="table borderless" align="center" style="border-spacing: 90; width: 90%; font-size: 115%;">
      <colgroup>
      <col width="20%">
      <col width="60%">
      <col width="20%">
      </colgroup>
    
      <tr>
      <td align="center" style = "vertical-align: middle;"> From Urn 1, draw <br> <strong> <span id="Urn1"> NaN </span> </strong> balls </td>
      <td align="center" style = "vertical-align: middle;"> 
        <input type="hidden" name="check_DecisionSlider" id="check_DecisionSlider"> 
        <input type="range" min="1" max="99" class = "myslider" id="DecisionSlider" name="draw_urn1" step="1" onclick="myFunction2()"> 
      </td>
      <td align="center" style = "vertical-align: middle;"> From Urn 2, draw <br> <strong> <span id="Urn2"> NaN </span> </strong> balls </td>
      </tr> 
    
    </table>
    
      </div>		
    
    </div>		
  
    
    <p>&nbsp;</p>      
    <p>On the next screen, you are presented with comprehension questions.</p>
    <p>You can review the instructions by clicking the "Back" button.</p>
    <p>Once you get familiar with the instruction, click the "Next" button.</p>
    
    
    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
    <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
      
      </div>



<!-- Tab 5 -->
<div class="tab-pane" id="part5" role="tabpanel" aria-labelledby="part5-tab">


  
<h1 style="text-align: center;"><strong>PART 3: Comprehension Questions </strong></h1>
<p>&nbsp;</p>
<p> Please answer the following comprehension questions correctly. 
  <br>If you are confident with your answers, click the “Submit” button. 
  <br>If you are not confident with your answers, click the "Back" button and review the instructions.
</p>
<p>&nbsp;</p>

<div style = "width: 100%; border: 2px solid rgb(255, 255, 255); padding: 30px; margin: 0 auto; font-size: 100%; background-color: rgb(240, 239, 236);" >

  <ol>
<li> Recall that, out of the 200 balls in Urn 1, the number of Green balls equals the sum of the numbers of Green balls you and your teammate received in Part 1. 
  Out of the 200 balls in Urn 2, {{subcontractor}} balls are Green. </li>
<br>
<p style = "font-size: 100%; ">(a) The better you were at the slider task in Part 1, the more Green balls there are in Urn 1. </p>
<div style="padding-left:85%;">{% formfield player.part3_cq1_a label="" %}	</div>
<p style = "font-size: 100%; ">(b) The better your teammate were at the slider task in Part 1, the more Green there balls are in Urn 2. </p>
<div style="padding-left:85%;">{% formfield player.part3_cq1_b label="" %}	</div>

<br>
<li>Suppose you received 50 Green balls from Part 1, and your teammate received 40 Green balls from Part 1. </li> 
<br>
  <p style = "font-size: 100%; ">(a) What is the percent chance (%) that a ball drawn from Urn 1 is Green? </p>
  <div style="padding-left:85%;">{% formfield player.part3_cq2_a label="" %}	</div>
  <p style = "font-size: 100%; ">(b) What is the percent chance (%) that a ball drawn from Urn 2 is Green? </p>
  <div style="padding-left:85%;">{% formfield player.part3_cq2_b label="" %}	</div>

  <br>
  <li>You earn more points as you get to draw more Green balls.  </li>
  <div style="padding-left:85%;">{% formfield player.part3_cq3 label="" %}</div>
  
  <br>
  <li>The more balls are drawn from one urn, the more points you earn for a Green ball drawn from that urn.</li>
  <div style="padding-left:85%;">{% formfield player.part3_cq4 label="" %}</div> 

<br>
<li>The more points you earn, the more likely it is that you win the prize of 200 Experimental Dollars. </li>
<div style="padding-left:85%;">{% formfield player.part3_cq5 label="" %}</div>

  </ol>
</div>



  <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
  <button class="nexttab btn-primary btn next">Confirm</button>
</div>
{% endblock %}




