{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }

.myslider{
width: 100%;
}

.myslider {
-webkit-appearance: none;
background: #e0e0e0;
width: 100%;
height: 25px;
opacity: 2;
}


.myslider::-webkit-slider-thumb {
-webkit-appearance: none;
cursor: pointer;
background: #4f5e60  ;
width: 15px;
height: 25px;
}

.myslider:hover {
opacity: 1;
}

.sliderexample2{
width: 100%;
}

.sliderexample2 {
-webkit-appearance: none;
background: #f5f5f5  ;
width: 100%;
height: 25px;
opacity: 2;
}


.sliderexample2::-webkit-slider-thumb {
-webkit-appearance: none;
cursor: pointer;
background: #4f5e60  ;
width: 15px;
height: 25px;
}

.sliderexample2:hover {
opacity: 1;
}

.sliderExample{
width: 100%;
}

.sliderExample {
-webkit-appearance: none;
background: #e0e0e0  ;
width: 100%;
height: 25px;
opacity: 2;
}


.sliderExample::-webkit-slider-thumb {
-webkit-appearance: none;
cursor: pointer;
background: #4f5e60  ;
width: 15px;
height: 25px;
}

.sliderExample:hover {
opacity: 1;
}
</style>

{% endblock %}


{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
  

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> </a>
  </li>

<!-- 
<li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> </a>
  </li> -->

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


    <div class="card-header bg-transparent mainheader" >
      <h4 class="card-title font-weight-bold"> </h4>
       </div>
     <br>

<h1 style="text-align: center;"><strong>PART 3</strong></h1>
<h3 style="text-align: center;"> Round 3 (out of 100) </h3>

<p>&nbsp;</p>
	<div class="header" id="myHeader">
		<div style="text-align: center; font-size: x-large"> Decide how many balls to draw from each of Urn 1 and Urn 2. <br><b style="color: red; font-size: xxx-large"> </b> </div>
	</div>
	
	<br>
	
		<p> Enter your guesses about the numbers of red balls that you and your teammate have.
			In the next page, the computer will provide a recommmandation for your decision that, <b> conditional on your submitted guesses</b>, will maximize the probability of winning the prize. </p>
	
			<table class="table borderless" align="center" style="border-spacing: 90; width: 100%;">
				<colgroup>
				   <col width="50%">
				   <col width="50%">
				</colgroup>

				<tr>
					<td align="center"> Your Guess about <br> # of Red balls <b> YOU </b> received </td>
					<td align="center"> Your Guess about <br> # of Red balls <b> YOUR TEAMMATE </b> received </td>
				</tr>

				<tr>
					<td align="center"> {% formfield player.guess_mine label="" %} </td>
					<td align="center"> {% formfield player.guess_teammate label="" %} </td>
				</tr>

			</table>



<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Calculate</button>
  </div>











  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">


<div class="card-header bg-transparent mainheader" >
  <h4 class="card-title font-weight-bold"> </h4>
</div>
<br>

<!-- <h1 style="text-align: center;"><strong>PART 2: Instructions</strong></h1>
<p>&nbsp;</p>
<p>The below information is only for those who are interested in the exact payoff scheme. You can skip this page by clicking click &ldquo;Next&rdquo;.</p>
<p style="text-align:center;"><img src="{% static 'Part2_FurtherInfo.png' %}" alt="Part2 Further Information.png" style="width:800px;height:350px;" class="center"/></p>


<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
  </div>





  <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
 

<div class="card-header bg-transparent mainheader" >
  <h3 class="card-title font-weight-bold"> </h3>
</div>
<br> -->

  <h1 style="text-align: center;"><strong>PART 3 </strong></h1>
<h3 style="text-align: center;"> Round 3 (out of 100) </h3>

<p>&nbsp;</p>
<div class="header" id="myHeader">
  <div style="text-align: center; font-size: x-large"> Decide how many balls to draw from each of Urn 1 and Urn 2. <br><b style="color: red; font-size: xxx-large"> </b> </div>
</div>

<br>

  <p> Your guess: </p>

    <table class="table borderless" align="center" style="border-spacing: 90; width: 100%;">
      <colgroup>
         <col width="50%">
         <col width="50%">
      </colgroup>

      <tr>
        <td align="center"> Your Guess about <br> # of Red balls <b> YOU </b> received </td>
        <td align="center"> Your Guess about <br> # of Red balls <b> YOUR TEAMMATE </b> received </td>
      </tr>

      <tr>
        <td align="center"> 40 </td>
        <td align="center"> 60 </td>
      </tr>

      <!-- <tr>
        <td align="center"> {{ player.guess_mine }} </td>
        <td align="center"> {{ player.guess_teammate }} </td>
      </tr> -->

    </table>

    <br> 

  <p> Conditional on your guess, the probability of winning the prize will be maximized if you carry out the following recommendation: </p>

    <table class="table borderless" align="center" style="border-spacing: 90; width: 100%;">
      <colgroup>
         <col width="100%">
      </colgroup>

      <tr>
        <td align="center"> Draw <b> 50 </b> balls from Urn 1  </td>
      </tr>

      <tr>
        <td align="center"> Draw <b> 50 </b> balls from Urn 2 </td>
      </tr>

    </table>

    <br>

  <p> Your decision: </p>
  
  <table class="table borderless" align="center" style="border-spacing: 90; width: 100%;">
    <colgroup>
       <col width="15%">
       <col width="70%">
       <col width="15%">
    </colgroup>

    <!-- <tr>
    <td> From Urn 1: <br> Draw <b>50</b> </td>
    <td> <input type="range" min="0" max="800"  class="myslider" name="test" step="1" > </td>
    <td> From Urn 2: <br> Draw <b>50</b> </td>
    </tr>   -->

    <tr>
      <td> From Urn 1: {% formfield player.draw_urn1 label="" %} </td>
      <td> <input type="range" min="0" max="800"  class="myslider" name="test" step="1" > </td>
      <td> From Urn 2: {% formfield player.draw_urn2 label="" %} </td>
    </tr>  

  </table>	

  
  




<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
<button class="nexttab btn-primary btn next">Confirm</button>
  </div>


</div>

</body>


{% endblock %}



