{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}

{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
ol    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 
{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>Welcome to this experiment! </strong></h1>
<p>&nbsp;</p>
<p>In this experiment, you will be asked to make multiple decisions that determine your earnings. The exact amount you will earn depends on your decisions that you make during the experiment. So, please read and follow the instructions carefully. They contain everything you need to know to participate.</p>
<br>
<p>Please note that from now on and during the experiment, no communication is permitted.&nbsp;Throughout the experiment, the use of mobile phones, smartphones, tablets, or the like is prohibited. Any infringement of these rules will result in exclusion from the experiment and all payments.</p>
<br>
<p>If you have questions at any point, please ask to the experimenter via chat in zoom.</p>
<br>
<p>During the experiment, your earnings will be calculated in Experimental Dollars. 
  At the end of the experiment, the total amount of Experimental Dollars you earn will be converted to dollars at the following rate. 
  Your entire earnings from the experiment plus $5 of show up fee will be paid using whichever digital payment service you selected prior to this experiment.</p>
<p style="text-align: center;">20 Experimental Dollars = $1  </p>
<br>

<p>
  This study will take a maximum of 90 minutes. 
  In addition to $5 of participation fee, you can earn a substantial amount of money for the time it takes you 
  if you pay close attention to every decision you are making. 
</p>

<p>The experiment consists of multiple parts. Some parts of the experiment include comprehension questions that ask your understanding about experimental tasks. 
  <!-- If you provide an incorrect answer, you may be excluded from the experiment and deprived of all payments aside from the minimum payment of $5 for attending. -->
  Please read the instructions carefully.
</p>

<br>
<p>In the following, we will explain to you Part 1 of the experiment.
</p>

<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Next</span>
            </button>
        </div>
    </div>


{% endblock %}



