{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}

{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
ol    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 
{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 1 Comprehension Questions</strong></h1>
<p>&nbsp;</p>
<p> Please answer the following comprehension questions correctly. 
    <br>If you are ready to submit your answers, click “Submit” button. </p>
<p> If any of your submitted answers are incorrect, you may be excluded from the experiment and deprived of all payments aside from the minimum payment of $5 for attending.  </p>
<p>&nbsp;</p>

<div style = "width: 100%; border: 2px solid rgb(255, 255, 255); padding: 30px; margin: 0 auto; font-size: 100%; background-color: rgb(240, 239, 236);" >
    <ol>
<li>Your task in Part 1 is to position as many of the 100 sliders at the center of the representative scale as possible within 5 minutes.</li> 
<div style="padding-left:85%;">{% formfield player.part1_cq1 label="" %}</div>
<br>
<li>The number of Green balls you will receive at the end of Part 1 equals the number of sliders that you correctly positioned. </li> 
<div style="padding-left:85%;">{% formfield player.part1_cq2 label="" %}</div>	
<br>
<li>You earn 0.5 points for every Black ball you received while you earn 0 points for every Green ball you received. </li>
<div style="padding-left:85%;">{% formfield player.part1_cq3 label="" %}</div>
    </ol>
</div>

<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Submit</span>
            </button>
        </div>
    </div>


{% endblock %}



