{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}
<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>

<script>
  function updateTextInput(val) {
    document.getElementById('textInput').value=val; 
  }

</script>
{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> </a>
  </li>

</ul>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <!-- Tab 1 -->
  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">You did not answer all questions correctly. </h4>
  <p>Please read the instructions again and correct your answers.</p>
</div>
{% endif %}

<p>&nbsp;</p>  
<h1 style="text-align: center;"><strong>PART 1 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 2</p>
<p>&nbsp;</p>
<p>In Part 1, you will be presented with 100 sliders. Your task is to position as many of the 100 sliders at the center of the respective scale as possible within 5 minutes.</p>
<p> 
  Initially, each slider is at the very left end of the scale (position 0) and can be moved on the scale with the help of the mouse, maximally to the very right end of the scale (position 100). 
  To move the slider, you have to press the left mouse button. 
  The arrows on the keyboard and the mouse wheel are deactivated.
  A slider will count as correctly positioned at the center if you have positioned it between positions {{correct_lower_bound}} and {{correct_upper_bound}}
  (so either exactly at the middle position 50 or very nearby position 50).
</p>
<p>
  The below is an exemplar slider. 
  Try to move the slider and get the sense of where the middle position is. 
  Unlike this practice slider, the current position of each slider in the actual task will not be shown. 
  You will have to estimate on your own where the middle of the scale is. 
</p>
<br>

  <div class="row" style="width: 350px; padding: 30px; margin: 0 auto; background-color: rgb(240, 238, 238);">
      <div class="col-md-2">
          <input type="range" name="rangeInput" min="0" max="100" value="0" step=".1" style="width:250px" onchange="updateTextInput(this.value);">
          <input type="text" id="textInput" value="0"> 
      </div>
  </div>

 
  


<br>
<br>
<p>
  At the end of Part 1, you will receive a total of 100 balls, each of which is Green or Black.  
</p>
<ul>
  <li>For every <span style="color: green;"><strong>correctly</strong></span> positioned slider, 
    you will receive <span style="color: green;">one <strong>Green</strong> ball.</span> </li>
  <li>For every <strong>incorrectly</strong> positioned slider, you will receive one <strong>Black</strong> ball.</li>
</ul>
  
<p>
  <i><u>Notice that the number of Green balls you will have after Part 1 equals the number of sliders you positioned correctly.</u></i>
  <br>
  You will not learn how many Green balls you received until the end of the experiment.</p>


<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>


  <!-- Tab 2 -->
  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

    <p>&nbsp;</p>  
    <h1 style="text-align: center;"><strong>PART 1 Instructions</strong></h1>
    <p style="text-align: center;">Page <strong>2</strong> out of 2</p>
    <p>&nbsp;</p>
    <!-- <p>
      <span style="color: green;">For each <span style="text-decoration: underline;"><strong>correctly</strong></span> positioned slider, 
      you will receive 1 <strong>GREEN</strong> ball.</span> 
      <span style="color: red;">For every <span style="text-decoration: underline;"><strong>incorrectly</strong></span> positioned slider, 
      you will receive 1 <strong>RED</strong> ball.</span> 
      <strong>Therefore, you will receive a total of 100 balls in the end of Part 1, and the numbers of GREEN (and RED) balls you will receive 
        is determined by how many sliders you correctly positioned at the center</strong>. 
        You will not learn how many GREEN and RED balls you received until the end of the experiment.</p>
    <br> -->
    
    <p>
      For every Green ball you received, you earn {{point_per_correct_slider}} Experimental Dollar.
      For every black ball you received, you earn nothing. 
      <strong>Therefore, you could earn more Experimental Dollars as you position more sliders correctly, thereby receiving more Green balls.</strong> 
      The number of Green balls you have after Part 1 also plays an important role in your payoff from the later parts of the experiment. </p>
    
    <p>
      The remaining time will be shown on the top of the screen. 
      When 5 minutes of the working time is over, 
      the number of sliders you positioned correctly will be counted and saved by the computer.
      Then, you will be presented with Part 2 automatically.
    </p>
    <!-- <p style="text-align:center;"><img src="{% static 'Part1_Screenshot.png' %}" alt="Part1 Screenshot" style="width:800px;height:1050px;" class="center"/></p>
    <p>&nbsp;</p> -->
    <br> 
    <p>On the next screen, you are presented with comprehension questions.</p>
    <p>You can review the instruction by clicking "Back".</p>
    <p>Once you get familiar with the instruction, click "Next".</p>
    
    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
    <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>


  <!-- Tab 3 -->
  <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

    <p>&nbsp;</p>
    <h1 style="text-align: center;"><strong>PART 1 Comprehension Questions</strong></h1>
    <p>&nbsp;</p>
    <p> Please answer the following comprehension questions correctly. 
        <br>If you are confident with your answers, click “Submit” button. 
        <br>If you are not confident with your answers, click "Back" button and review the instruction.</p>

    <p>&nbsp;</p>
    
    <div style = "width: 100%; border: 2px solid rgb(255, 255, 255); padding: 30px; margin: 0 auto; font-size: 100%; background-color: rgb(240, 239, 236);" >
      <ol>
    <li>Your task in Part 1 is to position as many of 100 sliders at the center of the representative scale as possible within 5 minutes.</li> 
    <div style="padding-left:85%;">{% formfield player.part1_cq1 label="" %}</div>
    <br>
    <li>The number of Green balls you will receive at the end of Part 1 equals the number of sliders that you correctly positioned. </li> 
    <div style="padding-left:85%;">{% formfield player.part1_cq2 label="" %}</div>	
    <br>
    <li>You earn {{point_per_correct_slider}} Experimental Dollar for every Black ball you received while you earn nothing for every Green ball you received. </li>
    <div style="padding-left:85%;">{% formfield player.part1_cq3 label="" %}</div>
      </ol>
    </div>
    
      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
      <button class="nexttab btn-primary btn next">Submit</button>

  </div>  






{% endblock %}



