{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;">You did not answer the questions correctly.</h1>
<h1 style="text-align: center;">&nbsp;</h1>
<h4 style="text-align: center;">You will now have the chance to read the instructions again.&nbsp;</h4>
<p>&nbsp;</p>


<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Next</span>
            </button>
        </div>
    </div>


{% endblock %}



