{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;">This is the end of the experiment.</h1>
<h1 style="text-align: center;">&nbsp;</h1>
<h4 style="text-align: center;">Your total earning from the experiment is {{ final_payout }}.</h4>
<h4 style="text-align: center;">You will receive your payment via Paypal or Venmo within 24 hours.&nbsp;</h4>
<h4 style="text-align: center;">Thank you for your participation.</h4>

{% endblock %}



