
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block content %}

<h1>Part 5</h1>

<div class="container p-3 my-3 border" style="font-size:18pt">

  <h2> 1. You are going to choose between couples of lotteries. </h2>

      <p>The following is an example of the decision setting you are facing</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="text-align:center">A</th>
            <th scope="col" ></th>
            <th scope="col" style="text-align:center">B</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td align="center"> p/10 of <i>{{f1}} points</i>, <br> (1-p)/10 of <i>{{f2}} points</i> </td>
            <td style="font-weight: bold">{{ form.risk }}</td>
            <td align="center">p/10 of <i>{{f3}} points</i>, <br> (1-p)/10 of <i>{{f4}} points</i> </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
        </table>

<p>You must make 10 decisions between lottery A and lottery B, with lottery A delivering <i>{{f1}} points</i> with probability p/10 and <i>{{f2}} points</i> with probability (1-p)/10.</p>
<p>Similarly, lottery B delivers <i>{{f3}} points</i> with probability p/10 and <i>{{f4}} points</i> with probability (1-p)/10.</p> <p>You will face 10 choices between A and B, with p changing across choices.</p>
<p>One of these decisions would be randomly selected to determine your payoffs.</p> 
</div>

<div class="container p-3 my-3 border" style="font-size:18pt">



<h2> 2. You are going to choose between couples of lotteries.  </h2>

  <p>The following is an example of the decision setting you are facing</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="text-align:center">A</th>
            <th scope="col" ></th>
            <th scope="col" style="text-align:center">B</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td align="center"> <i>200 points</i> with Prob. 1/2, <br> <i> 0 points</i> with Prob. 1/2 </td>
            <td style="font-weight: bold">{{ form.risk }}</td>
            <td align="center"> <i> x points</i> with Prob. Unknown, <br> <i> 0 points</i>, otherwise </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
        </table>

<p>You must make 20 decisions between lottery A and lottery B, with lottery A delivering <i>200 points</i> with probability 1/2 and <i>0 points</i> with probability 1/2.</p>
<p>Lottery B delivers <i>x points</i> with unknown probability and <i>0 points</i>, otherwise.</p> 
<p>You will face 20 choices between A and B, with <i>x</i> changing across choices.</p>
<p>One of these decisions would be randomly selected to determine your payoffs.</p> 
</div>



</div>

<div class="container" style="font-size:18pt">
  <div class="row">
    &nbsp;
  </div>
  <div class="row" style="padding-left:135px;">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
      <button name="btn_submit" value="True" class="btn btn-primary btn-large">
         <span style="font-size:18pt">Continue</span>
     </button>
    </div>
  </div>
</div>



{% endblock %}
