{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>

{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

{% endblock %}



{% block content %}

<h1 style="text-align: center;">&nbsp;</h1>
<h3 style="text-align: center;">This is the end of Part 3.</h3>
<h4 style="text-align: center;"> <br> Click "Next" to proceed.</h4>
<br>
<div class="history" style = "width: 100%; font-size: 75%; border: 2px solid rgb(10, 10, 10); padding: 0px; margin: 10px; ">
	
  <h3 style="text-align: center;"> Round History </h3>
  <br>
  <table class="table" style="border-spacing: 90; width: 95%;">
    <colgroup>
    <col width="5%">
    <col width="19%">
    <col width="19%">
    <col width="19%">
    <col width="19%">
    <col width="19%">
    <!-- <col width="20%"> -->
    </colgroup>
  
    <tr>
      <th rowspan="2" style= "vertical-align: middle; text-align: center;" >Round</th>
      <th colspan="2" style="text-align: center;">Your Guess</th>
      <th colspan="2" style="text-align: center;">Your Decision</th>
      <!-- <th rowspan="2" style= "vertical-align: middle; text-align: center;"># of GREEN balls drawn</th> -->
      <th rowspan="2" style= "vertical-align: middle; text-align: center;">Points You Earned</th>
    </tr>
    <tr>
      <th style= "vertical-align: middle; text-align: center;">Your Guess about # of GREEN balls you received</th>
      <th style= "vertical-align: middle; text-align: center;">Your Guess about # of GREEN balls you received</th>
      <th style= "vertical-align: middle; text-align: center;"># of balls drawn<br>from Urn 1</th>
      <th style= "vertical-align: middle; text-align: center;"># of balls drawn<br>from Urn 2</th>
    </tr>
  
    {% for p in player_in_previous_rounds %}
    <tr>
      <td style= "vertical-align: middle;" align = "center">{{ p.round_number }}</td>
      <td style= "vertical-align: middle;" align = "center">{{ p.guess_mine }}</td>
      <td style= "vertical-align: middle;" align = "center">{{ p.guess_teammate }}</td>
      <td style= "vertical-align: middle;" align = "center"> {{ p.draw_urn1}}</td>
      <td style= "vertical-align: middle;" align = "center"> {{ p.draw_urn2}}</td>
      <td style= "vertical-align: middle;" align = "center"> {{ p.num_LTs_Awareded}}</td>
      <!-- <td style= "vertical-align: middle;" align = "center"></td> -->
    </tr>
    {% endfor %}

  </table>	

    </div>

    
  

<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:50%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Next</span>
            </button>
        </div>
    </div>

{% endblock %}



