{% extends "global/Page.html" %}
{% load staticfiles otree %}

<!--------------------------------------------------------------------------->
{% block scripts %}
<script>

$(".select").click(function() {

var index = $(this).index(".select");

$(".A").removeClass('red');
$(".B").removeClass('red');

for (m=0;m<index;m++) {
$(".A").eq(m).addClass('red');
} 

for (m=index;m<=20;m++) {
$(".B").eq(m).addClass('red');
} 

});
</script>


{% endblock %}

<!--------------------------------------------------------------------------->
{% block styles %}
<style>
  input[type=radio] {
       transform: scale(1.5);
       margin: 12px -10px 0px -30px;
     }
</style>

<style>
p    {font-size: 120%; line-height: 200%; }
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

<style>
td {
  width: 100px;
  height: 70px;
}
td.red {
  background-color:rgb(240, 239, 236);
}  
</style>

<style>
  .otree-form-errors {
    visibility: hidden;
    display: none;
}
</style>

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<h1 style="text-align: center;"><strong>PART 6</strong></h1>
<br>
<p align = "justify"> 
  In each of the following 20 rows in the table, please select your preferred option between A and B. 
</p>
<p>
  You will make one choice in the “Switch” column. 
  This choice indicates that you would like to switch from drawing a ball out of Urn A to drawing out of Urn B. 
  For each decision before your choice, a ball will be drawn from Urn A. 
  For each decision after your choice, including the decision where the choice was made, a ball will be drawn from Urn B.
</p>
<p>
  When done, please click on the button "Confirm".
</p>
<br>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Make one choice in the “Switch” column.</h4>
</div>
{% endif %}

  <table class="table" style = "font-size: 110%;">
    <colgroup>
      <col width="10%">
      <col width="40%">
      <col width="10%">
      <col width="40%">
      </colgroup>

    <thead>
      <tr>
        <td scope="col" style="text-align:center; vertical-align: middle;">#</td>
        <td scope="col" style="text-align:center"><strong>Urn A <br> 50 REDs and 50 BLUEs</strong></td>
        <td scope="col" style = "vertical-align: middle;"><strong>Switch </strong></td>
        <td scope="col" style="text-align:center"><strong>Urn B <br> ? REDs and ? BLUEs</strong></td>
      </tr>
    </thead>
    <tbody>
  <!-- Row 1 -->
    <tr>
      <td scope="row" style="text-align:center">1</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="0"/></td>
      <td class="B" align="center"> <i> {{g1}} points</i> if RED, <br> <i> 0 points</i> if not</td>
    </tr>
  <!-- Row 2 -->
    <tr>
      <td scope="row" style="text-align:center">2</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="1"/></td>
      <td class="B" align="center"> <i> {{g2}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 3 -->
    <tr>
      <td scope="row" style="text-align:center">3</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="2"/></td>
      <td class="B" align="center"> <i> {{g3}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 4 -->
    <tr>
      <td scope="row" style="text-align:center">4</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="3"/></td>
      <td class="B" align="center"> <i> {{g4}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 5 -->
    <tr>
      <td scope="row" style="text-align:center">5</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="4"/></td>
      <td class="B" align="center"> <i> {{g5}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 6 -->
    <tr>
      <td scope="row" style="text-align:center">6</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="5"/></td>
      <td class="B" align="center"> <i> {{g6}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 7 -->
    <tr>
      <td scope="row" style="text-align:center">7</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="6"/></td>
      <td class="B" align="center"> <i> {{g7}} points</i> if RED, <br> <i> 0 points</i> if not</td>
    </tr>
  <!-- Row 8 -->
    <tr>
      <td scope="row" style="text-align:center">8</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="7"/></td>
      <td class="B" align="center"> <i> {{g8}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 9 -->
    <tr>
      <td scope="row" style="text-align:center">9</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="8"/></td>
      <td class="B" align="center"> <i> {{g9}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 10 -->
    <tr>
      <td scope="row" style="text-align:center">10</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="9"/></td>
      <td class="B" align="center"> <i> {{g10}} points</i> if RED, <br> <i> 0 points</i> if not</td>
    </tr>
    <!-- Row 11 -->
    <tr>
      <td scope="row" style="text-align:center">11</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="10"/></td>
      <td class="B" align="center"> <i> {{g11}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 12 -->
    <tr>
      <td scope="row" style="text-align:center">12</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="11"/></td>
      <td class="B" align="center"> <i> {{g12}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 13 -->
    <tr>
      <td scope="row" style="text-align:center">13</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="12"/></td>
      <td class="B" align="center"> <i> {{g13}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 14 -->
    <tr>
      <td scope="row" style="text-align:center">14</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="13"/></td>
      <td class="B" align="center"> <i> {{g14}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 15 -->
    <tr>
      <td scope="row" style="text-align:center">15</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="14"/></td>
      <td class="B" align="center"> <i> {{g15}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 16 -->
    <tr>
      <td scope="row" style="text-align:center">16</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="15"/></td>
      <td class="B" align="center"> <i> {{g16}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 17 -->
    <tr>
      <td scope="row" style="text-align:center">17</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="16"/></td>
      <td class="B" align="center"> <i> {{g17}} points</i> if RED, <br> <i> 0 points</i> if not</td>
    </tr>
  <!-- Row 18 -->
    <tr>
      <td scope="row" style="text-align:center">18</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="17"/></td>
      <td class="B" align="center"> <i> {{g18}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 19 -->
    <tr>
      <td scope="row" style="text-align:center">19</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="18"/></td>
      <td class="B" align="center"> <i> {{g19}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  <!-- Row 20 -->
    <tr>
      <td scope="row" style="text-align:center">20</td>
      <td class="A" align="center"> <i>{{g0}} points</i> if RED, <br> <i> 0 points</i> if not </td>
      <td style="font-weight: bold" align="center"><input class="select" type="radio" name="ambig" value="19"/></td>
      <td class="B" align="center"> <i> {{g20}} points</i> if RED, <br> <i> 0 points</i> if not </td>
    </tr>
  
  </tbody>
  </table>



<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Confirm</span>
            </button>
        </div>
    </div>




{% endblock %} 
