
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%; }
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 
{% endblock %}

{% block content %}

<h1 style="text-align: center;"><strong>PART 6 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 1</p>
<p>&nbsp;</p>

<p>
  You are facing 20 separate decisions numbering 1 through 20.
  <br>Each of these decisions is a choice between drawing a ball from “Urn A” or “Urn B”. 
  Urn A and Urn B are unrelated with two urns that you faced in the earlier parts of the experiment. 
</p>
<br>
<ul>
<li>
  In each of the 20 decisions, <strong>Urn A</strong> has 50 RED balls and 50 BLUE balls, 
  and pays {{g0}} points if the ball drawn from Urn A is red, and 0 points if it is blue.
  Since each color has a 1/2 chance of being drawn, 
  this means that drawing from Urn A pays {{g0}} points with a chance of 1/2, and pays 0 points with a chance of 1/2.
</li>
<br>
<li>
  <strong>Urn B</strong>, on the other hand, has an unknown number of RED and BLUE balls (with a total of 100 balls). 
  It pays a positive amount if the ball drawn from Urn B is RED, and 0 points if it is BLUE.
  Since the chance of each color being drawn is unknown, 
  the chance of Urn B paying a positive number of points is unknown as well. 
</li>
<br>
<li>
  The only difference between the 20 decisions is the amount paid when a RED is drawn from Urn B.
</li>
</ul>
<br>
<p>
  You will make one choice in the “Switch” column. 
  This choice indicates that you would like to switch from drawing a ball out of Urn A to drawing out of Urn B. 
  For each decision before your choice, a ball will be drawn from Urn A. 
  For each decision after your choice, including the decision where the choice was made, a ball will be drawn from Urn B.
</p>

<p>One of these decisions would be randomly selected to determine your payoffs.</p> 



<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Next</span>
            </button>
        </div>
    </div>



{% endblock %}
