
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%; }
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

{% endblock %}

{% block content %}

<h1 style="text-align: center;"><strong>PART 5 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 1</p>
<p>&nbsp;</p>

<p>
  Now, you are facing 10 separate decisions numbering 1 through 10.
  <br>Each of these decisions is a choice between “Option A” or “Option B”. 
</p>
<p>
  In each of the 10 decisions, Option A pays either <i>{{f1}} points</i> or <i>{{f2}} points</i>.
  Option B, on the other hand, pays either <i>{{f3}} points</i> or <i>{{f4}} point</i>.
  The only difference between the 10 decisions is the chances of earning the higher payoff for each option.
</p> 
<p>
  To choose an Option for each decision, you will make one choice in the “Switch” column. 
  This choice indicates that you would like to switch from Option A to Option B. 
  For each decision before your choice, Option A will be used for payment. 
  For each decision after your choice, including the decision where the choice was made, Option B will be used.
</p>

<p>One of these decisions would be randomly selected to determine your payoffs.</p> 


<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Next</span>
            </button>
        </div>
    </div>




{% endblock %}
