
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 160%; line-height: 200%;}
ul    {font-size: 160%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 1400px;
  }
</style> 

{% endblock %}

{% block content %}

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 5 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 1</p>
<p>&nbsp;</p>

<p>You are going to choose between couples of lotteries. </p>
<p>The following is an example of the decision setting you are facing.</p>
  <table class="table" style = "font-size: 135%;">
   <thead>
     <tr>
     <th scope="col">#</th>
     <th scope="col" style="text-align:center">A</th>
     <th scope="col" ></th>
     <th scope="col" style="text-align:center">B</th>
     </tr>
    </thead>
    <tbody>
      <tr>
      <th scope="row" style = "vertical-align: middle;">1</th>
      <td align="center" style = "vertical-align: middle;"> p/10 of <i>{{f1}} points</i>, <br> (1-p)/10 of <i>{{f2}} points</i> </td>
      <td style="font-weight: bold" style = "vertical-align: middle;">{{ form.practice }}</td>
      <td align="center" style = "vertical-align: middle;">p/10 of <i>{{f3}} points</i>, <br> (1-p)/10 of <i>{{f4}} points</i> </td>
      </tr>
    </tbody>
   </table>

<br>
<p>You must make 10 decisions between lottery A and lottery B</p>
<p>
  Lottery A delivers <i>{{f1}} points</i> with probability p/10 and <i>{{f2}} points</i> with probability (1-p)/10. 
  <br>Similarly, lottery B delivers <i>{{f3}} points</i> with probability p/10 and <i>{{f4}} points</i> with probability (1-p)/10. 
  <br>You will face 10 choices between A and B, with p changing across choices.
</p> 
<p>One of these decisions would be randomly selected to determine your payoffs from Part 5.</p> 


<div class="container">
  <div class="row" style="padding-left:95%;">
      <div class="col-md-2">
          <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Next</span>
       </button>
      </div>
  </div>
</div>




{% endblock %}
