{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}
<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 160%; line-height: 200%;}
ul    {font-size: 160%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 1400px;
  }
</style> 

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> </a>
  </li>

</ul>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <!-- Tab 1 -->
  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 4 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 4</p>
<p>&nbsp;</p>
<p>In Part 4 of the experiment, you are asked to revise two estimates that you provided in Part 2:</p>
<p style="text-align: justify; padding-left: 40px;">1. Your estimate concerning the probability that <strong><u>you</u></strong> received a certain number of red balls from Part 1</p>
<p style="text-align: justify; padding-left: 40px;">2. Your estimate concerning the probability that <strong><u>your teammate</u></strong> received a certain number of red balls from Part 1.</p>
<br>
<p><em>Reminder:</em></p>
<p style="text-align: justify; padding-left: 40px;">The numbers of red balls you and your teammate received in Part 1 equal to the numbers of sliders you and your teammate correctly positioned, out of 100 sliders, respectively.</p>
<br>
<p>By providing each of the estimates, you have the possibility to earn 30 points. <u>The more precise your estimate is, the more likely it is that you will earn the 30 points.</u> Since you are asked to provide two estimates for you and for your teammate, you will earn 60 points to the maximum from Part 4.</p>

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>

  <!-- Tab 2 -->
  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<p>&nbsp;</p>  
<h1 style="text-align: center;"><strong>PART 4 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>2</strong> out of 4</p>
<p>&nbsp;</p>  
<p>To provide each of the estimates, you are given 100 tokens and asked to distribute them into 10 pillars. Each token represents one percentage point.&nbsp;</p>
<p>Specifically, the screen which we use for asking for your estimates looks like this:</p>
<p style="text-align:center;"><img src="{% static 'Part4_Screenshot.png' %}" alt="Part4 screenshot.png" style="width:800px;height:1100px;" class="center"/></p>
<p>&nbsp;</p>
<ul>
<li>There are 10 pillars. Each pillar represents a certain quantity (in steps of 10) of red balls you (your teammate) received in Part 1.</li>
<li>To provide an estimate concerning the probability that you received a certain number of red balls, you are asked to distribute 100 tokens into the 10 pillars in &ldquo;# of Red balls YOU received&rdquo; column.
  You can distribute tokens to a pillar by typing an integer, ranging from 0 to 100. </li>
<li>Similarly, to provide an estimate concerning the probability that your teammate received a certain number of red balls, type an integer, ranging from 0 to 100, in each pillar of&nbsp; &ldquo;# of Red balls YOUR TEAMMATE received&rdquo; column.&nbsp;</li>
<li>The more likely you deem a certain pillar to contain the number of red balls you (your teammate) received, the more tokens should be put into this pillar.</li>
<li>Whenever you type an integer in any pillar, the last row of the decision table "# of tokens you have distributed so far" will be updated. </li>
<li>The task will only be finished when you have distributed exactly 100 tokens into the 10 pillars in each of &ldquo;# of Red balls YOU received&rdquo; and &ldquo;# of Red balls YOUR TEAMMATE received&rdquo; columns.</li>
<li>If you feel confident about the resulting probability distributions because they are good fits to your estimates concerning the quantity of red balls you and your teammate received, please press the &ldquo;Confirm&rdquo; button downright to continue with Part 5 of the experiment.</li>
</ul>

<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    
  </div>

  <!-- Tab 3 -->
  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<p>&nbsp;</p>    
<h1 style="text-align: center;"><strong>PART 4 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>3</strong> out of 4</p>
<p>&nbsp;</p>
<p>Here is an example of how it works. Suppose you have distributed tokens in the following way.</p>
<p style="text-align:center;"><img src="{% static 'Part2_example.png' %}" alt="Part2 example" style="width:1000px;height:800px;" class="center"/></p>
<ul>
<li>First, look at &ldquo;# of Red balls YOU received&rdquo; column.  
  You have placed 50 tokens in each of &ldquo;11-20&rdquo; pillar and &ldquo;21-30&rdquo; pillar.
  This implies that you assume that with 50% probability you received between 11 and 20 red balls
  and with 50% probability you received between 21 and 30 red balls.</li>  
<li>Now, look at &ldquo;# of Red balls YOUR TEAMMATE received&rdquo; column. 
  You have placed 77 tokens in &ldquo;71-80&rdquo; pillar and 23 tokens in &ldquo;81-90&rdquo;.
  This implies that with 77% probability you assume that your teammate received between 71 and 80 red balls and
  with 23% probability you assume that your teammate received between 81 and 90 red balls.</li>
</ul>

<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>

  <!-- Tab 4 -->
  <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">

<p>&nbsp;</p>    
<h1 style="text-align: center;"><strong>PART 4 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>4</strong> out of 4</p>    
<p>&nbsp;</p>    
<p>You can review the instructions by clicking "Back".</p>
<p>Once you get familiar with Part 4 instructions, click &ldquo;Next&rdquo;.</p>
<br>
<p>The below is only for those who are interested in the exact payoff scheme. You can skip this information.</p>
<p style="text-align:center;"><img src="{% static 'Part2_FurtherInfo.png' %}" alt="Part2 Further Information.png" style="width:1000px;height:450px;" class="center"/></p>

<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button class="nexttab btn-primary btn next">Next</button>

  </div>

{% endblock %}



