{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'canvasjs-3/canvasjs.min.js' %}"></script>


<!-----------------Summation function------------------------>
<script>
	
$(document).ready(function(){

//iterate through each textboxes and add keyup
//handler to trigger sum event
$(".txt").each(function() {

	$(this).keyup(function(){
		calculateSum();
	});
});

});

function calculateSum() {

var sum = 0;
//iterate through each textboxes and add the values
$(".txt").each(function() {

	//add only if the value is number
	if(!isNaN(this.value) && this.value.length!=0) {
		sum += parseFloat(this.value);
	}

});
//.toFixed() method will roundoff the final sum to 0 decimal places
$("#sum").html(sum.toFixed(0));
}


$(document).ready(function(){

//iterate through each textboxes and add keyup
//handler to trigger sum event
$(".txt2").each(function() {

	$(this).keyup(function(){
		calculateSum2();
	});
});

});

function calculateSum2() {

var sum2 = 0;
//iterate through each textboxes and add the values
$(".txt2").each(function() {

	//add only if the value is number
	if(!isNaN(this.value) && this.value.length!=0) {
		sum2 += parseFloat(this.value);
	}

});
//.toFixed() method will roundoff the final sum to 2 decimal places
$("#sum2").html(sum2.toFixed(0));
}

</script>

<!-----------------Chart function 1 ------------------------>
<script>

$(document).ready(function(){

var chart = new CanvasJS.Chart("chartContainer_mine", {
	theme: "theme2",//theme1  
  title: {
    text: "Box A: The number of GREEN balls YOU received"
  },
  backgroundColor: "rgb(248, 246, 241)",
  data: [{
    type: "column",
    color: "green", 
    dataPoints: [
    		{ y: 0,label: "0-10" },
      	{ y: 0,label: "11-20" },
      	{ y: 0,label: "21-30" },
        { y: 0,label: "31-40" },
        { y: 0,label: "41-50" },
        { y: 0,label: "51-60" },
        { y: 0,label: "61-70" },
        { y: 0,label: "71-80" },
        { y: 0,label: "81-90" },
        { y: 0,label: "91-100" }
   	]
	}],
  axisY:{
      minimum: 0,
      maximum: 100
     },
});

chart.render();

$("#dataSeries1").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries1").value;
  console.log(typeof a)
  chart.data[0].dataPoints[0].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries2").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries2").value;
  console.log(typeof a)
  chart.data[0].dataPoints[1].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries3").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries3").value;
  console.log(typeof a)
  chart.data[0].dataPoints[2].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries4").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries4").value;
  console.log(typeof a)
  chart.data[0].dataPoints[3].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries5").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries5").value;
  console.log(typeof a)
  chart.data[0].dataPoints[4].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries6").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries6").value;
  console.log(typeof a)
  chart.data[0].dataPoints[5].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries7").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries7").value;
  console.log(typeof a)
  chart.data[0].dataPoints[6].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries8").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries8").value;
  console.log(typeof a)
  chart.data[0].dataPoints[7].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries9").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries9").value;
  console.log(typeof a)
  chart.data[0].dataPoints[8].y = parseInt(bin1);
  chart.render();
});

$("#dataSeries10").keyup( function(e) {
	var bin1 = document.getElementById("dataSeries10").value;
  console.log(typeof a)
  chart.data[0].dataPoints[9].y = parseInt(bin1);
  chart.render();
});

});


</script>


<!-----------------Chart function 2 ------------------------>
<script>

  $(document).ready(function(){
  
  var chart = new CanvasJS.Chart("chartContainer_teammate", {
    theme: "theme2",//theme1  
    title: {
      text: "Box B: The number of GREEN balls YOUR TEAMMATE received"
    },
    backgroundColor: "rgb(248, 246, 241)",
    data: [{
      type: "column",
      color: "green", 
      dataPoints: [
          { y: 0,label: "0-10" },
          { y: 0,label: "11-20" },
          { y: 0,label: "21-30" },
          { y: 0,label: "31-40" },
          { y: 0,label: "41-50" },
          { y: 0,label: "51-60" },
          { y: 0,label: "61-70" },
          { y: 0,label: "71-80" },
          { y: 0,label: "81-90" },
          { y: 0,label: "91-100" }
       ]
    }],
    axisY:{
        minimum: 0,
        maximum: 100
       },
  });
  
  chart.render();
  
  $("#dataSeries11").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries11").value;
    console.log(typeof a)
    chart.data[0].dataPoints[0].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries12").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries12").value;
    console.log(typeof a)
    chart.data[0].dataPoints[1].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries13").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries13").value;
    console.log(typeof a)
    chart.data[0].dataPoints[2].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries14").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries14").value;
    console.log(typeof a)
    chart.data[0].dataPoints[3].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries15").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries15").value;
    console.log(typeof a)
    chart.data[0].dataPoints[4].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries16").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries16").value;
    console.log(typeof a)
    chart.data[0].dataPoints[5].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries17").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries17").value;
    console.log(typeof a)
    chart.data[0].dataPoints[6].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries18").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries18").value;
    console.log(typeof a)
    chart.data[0].dataPoints[7].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries19").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries19").value;
    console.log(typeof a)
    chart.data[0].dataPoints[8].y = parseInt(bin1);
    chart.render();
  });
  
  $("#dataSeries20").keyup( function(e) {
    var bin1 = document.getElementById("dataSeries20").value;
    console.log(typeof a)
    chart.data[0].dataPoints[9].y = parseInt(bin1);
    chart.render();
  });
  
  });
  
  
  </script>

{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<h1 style="text-align: center;"><strong>PART 4 </strong></h1>
<br>
<p>
  Each bin represents a certain quantity (in steps of 10) of Green balls you (Box A) and your teammate (Box B) received in Part 1. 
  Each token represents one percentage point. 
  Therefore, the number of tokens you distribute to each bin in Box A represents your belief about the percent chance that you received a certain quantity of Green balls.
  The number of tokens you distribute to each bin in Box B represents your belief about the percent chance that your teammate received a certain quantity of Green balls.
  The more likely you deem a certain bin to contain the number of Green balls you and your teammate received, the more tokens should be put into this bin.
</p>
<p>The task will only be finished when you have distributed exactly 100 tokens into the 10 bins in each of Box A and Box B. </p>
<br>

<div style = "width: 100%; border: 2px solid rgb(255, 255, 255); padding: 30px; margin: 10px; font-size: 75%; background-color: rgb(248, 246, 241);" >

<div id="chartContainer_mine" style="height: 360px; width: 100%;"></div> 
<p>&nbsp;</p>
<table class="table borderless" id="datatable" align="center" style="border-spacing: 90; width: 100%; font-size:130%">
  <thead>
    <tr>
      <th align="center" style="text-align: center;">Bins</th>
      <th align="center" style="text-align: center;">0-10</th>
      <th align="center" style="text-align: center;">11-20</th>
      <th align="center" style="text-align: center;">21-30</th>
      <th align="center" style="text-align: center;">31-40</th>
      <th align="center" style="text-align: center;">41-50</th>
      <th align="center" style="text-align: center;">51-60</th>
      <th align="center" style="text-align: center;">61-70</th>
      <th align="center" style="text-align: center;">71-80</th>
      <th align="center" style="text-align: center;">81-90</th>
      <th align="center" style="text-align: center;">91-100</th>
      <th align="center" style="text-align: center;"># of tokens <br> distributed so far</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th align="center" style="text-align: center;"># tokens</th>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries1" name="bin1_mine"/>{{ form.bin1_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries2" name="bin2_mine"/>{{ form.bin2_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries3" name="bin3_mine"/>{{ form.bin3_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries4" name="bin4_mine"/>{{ form.bin4_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries5" name="bin5_mine"/>{{ form.bin5_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries6" name="bin6_mine"/>{{ form.bin6_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries7" name="bin7_mine"/>{{ form.bin7_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries8" name="bin8_mine"/>{{ form.bin8_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries9" name="bin9_mine"/>{{ form.bin9_mine.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt" size="4" type="text" id="dataSeries10" name="bin10_mine"/>{{ form.bin10_mine.errors }}</td>
      <td align="center" style="text-align: center;"><span id="sum">0</span></td>
    </tr>
  </tbody>
  </table>

</div>

<p>&nbsp;</p>

<div style = "width: 100%; border: 2px solid rgb(255, 255, 255); padding: 30px; margin: 10px; font-size: 75%; background-color: rgb(248, 246, 241);" >

<div id="chartContainer_teammate" style="height: 360px; width: 100%;"></div> 

<p>&nbsp;</p>  
<table class="table borderless" id="datatable" align="center" style="border-spacing: 90; width: 100%; font-size:130%">
  <thead>
    <tr>
      <th align="center" style="text-align: center;">Bins</th>
      <th align="center" style="text-align: center;">0-10</th>
      <th align="center" style="text-align: center;">11-20</th>
      <th align="center" style="text-align: center;">21-30</th>
      <th align="center" style="text-align: center;">31-40</th>
      <th align="center" style="text-align: center;">41-50</th>
      <th align="center" style="text-align: center;">51-60</th>
      <th align="center" style="text-align: center;">61-70</th>
      <th align="center" style="text-align: center;">71-80</th>
      <th align="center" style="text-align: center;">81-90</th>
      <th align="center" style="text-align: center;">91-100</th>
      <th align="center" style="text-align: center;"># of tokens <br> distributed so far</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th align="center" style="text-align: center;"># tokens</th>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries11" name="bin1_teammate"/>{{ form.bin1_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries12" name="bin2_teammate"/>{{ form.bin2_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries13" name="bin3_teammate"/>{{ form.bin3_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries14" name="bin4_teammate"/>{{ form.bin4_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries15" name="bin5_teammate"/>{{ form.bin5_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries16" name="bin6_teammate"/>{{ form.bin6_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries17" name="bin7_teammate"/>{{ form.bin7_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries18" name="bin8_teammate"/>{{ form.bin8_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries19" name="bin9_teammate"/>{{ form.bin9_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><input class="txt2" size="4" type="text" id="dataSeries20" name="bin10_teammate"/>{{ form.bin10_teammate.errors }}</td>
      <td align="center" style="text-align: center;"><span id="sum2">0</span></td>
    </tr>
  </tbody>
  </table>

</div>

  


<!--------------------------------------------------------------------------->
<p>&nbsp;</p>
    <div class="row" style="padding-left:95%;">
        <div class="col-md-2">
            <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                    <span style="font-size:12pt">Confirm</span>
            </button>
        </div>
    </div>


{% endblock %}





