{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){

//iterate through each textboxes and add keyup
//handler to trigger sum event
$(".txt").each(function() {

	$(this).keyup(function(){
		calculateSum();
	});
});

});

function calculateSum() {

var sum = 0;
//iterate through each textboxes and add the values
$(".txt").each(function() {

	//add only if the value is number
	if(!isNaN(this.value) && this.value.length!=0) {
		sum += parseFloat(this.value);
	}

});
//.toFixed() method will roundoff the final sum to 2 decimal places
$("#sum").html(sum.toFixed(2));
}

</script>

{% endblock %}



{% block content %}

<h1> Part 2 </h1>

	<div class="header" id="myHeader">
		<div style="text-align: center; font-size: x-large"> Distribute 100 tokens across 10 pillars. <br><b style="color: red; font-size: xxx-large"> </b> </div>
	</div>
	
	<br>
	
		<p> Each token represents one percentage point. The more likely you deem a certain pillar to contain the number of red balls you (your teammate) received, the more tokens should be put into this pillar. 
			The task will only be finished when you have distributed exactly 100 tokens for each of your estimates. i.e., the sum of each column must be 100. </p>
	
			<table width="300px" border="1" style="border-collapse:collapse;background-color:#E8DCFF">
				<tr>
					<td width="40px">1</td>
					<td>Butter</td>
					<td><input class="txt" type="text" name="txt"/></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Cheese</td>
					<td><input class="txt" type="text" name="txt"/></td>
				</tr>
				<tr>
					<td>3</td>
					<td>Eggs</td>
					<td><input class="txt" type="text" name="txt"/></td>
				</tr>
				<tr>
					<td>4</td>
					<td>Milk</td>
					<td><input class="txt" type="text" name="txt"/></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Bread</td>
					<td><input class="txt" type="text" name="txt"/></td>
				</tr>
				<tr>
					<td>6</td>
					<td>Soap</td>
					<td><input class="txt" type="text" name="txt"/></td>
				</tr>
				<tr id="summation">
					<td>&nbsp;</td>
					<td align="right">Sum :</td>
					<td align="center"><span id="sum">0</span></td>
				</tr>
			</table>

			<table class="table borderless" align="center" style="border-spacing: 90; width: 100%;">
				<colgroup>
				   <col width="20%">
				   <col width="40%">
				   <col width="40%">
				</colgroup>

				<tr>
					<td align="center"> Pillar </td>
					<td align="center"> # of Red balls <b> YOU </b> received </td>
					<td align="center"> # of Red balls <b> YOUR TEAMMATE </b> received </td>
				</tr>

				<tr>
					<td align="center"> 0 - 10 </td>
					<td align="center"> {% formfield player.bin1_mine label="" %} </td>
					<td align="center"> {% formfield player.bin1_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 11 - 20</td>
					<td align="center"> {% formfield player.bin2_mine label="" %} </td>
					<td align="center"> {% formfield player.bin2_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 21 - 30</td>
					<td align="center"> {% formfield player.bin3_mine label="" %} </td>
					<td align="center"> {% formfield player.bin3_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 31 - 40</td>
					<td align="center"> {% formfield player.bin4_mine label="" %} </td>
					<td align="center"> {% formfield player.bin4_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 41 - 50</td>
					<td align="center"> {% formfield player.bin5_mine label="" %} </td>
					<td align="center"> {% formfield player.bin5_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 51 - 60</td>
					<td align="center"> {% formfield player.bin6_mine label="" %} </td>
					<td align="center"> {% formfield player.bin6_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 61 - 70</td>
					<td align="center"> {% formfield player.bin7_mine label="" %} </td>
					<td align="center"> {% formfield player.bin7_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 71 - 80</td>
					<td align="center"> {% formfield player.bin8_mine label="" %} </td>
					<td align="center"> {% formfield player.bin8_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 81 - 90</td>
					<td align="center"> {% formfield player.bin9_mine label="" %} </td>
					<td align="center"> {% formfield player.bin9_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> 91 - 100 </td>
					<td align="center"> {% formfield player.bin10_mine label="" %} </td>
					<td align="center"> {% formfield player.bin10_teammate label="" %} </td>
				</tr>

				<tr>
					<td align="center"> The sum of tokens you distributed </td>
					<td align="center"> </td>
					<td align="center">  </td>
				</tr>

			</table>


			

</div>
	<div class="container">
		<div class="row">
			&nbsp;
		</div>
		<div class="row" style="padding-left:135px;">
			<div class="col-md-10">

			</div>
			<div class="col-md-2">
				<button name="btn_submit" value="True" class="btn btn-primary btn-large">
						<span style="font-size:18pt">Confirm</span>
			 </button>
			</div>
		</div>
	</div>

{% endblock %}





