{% extends "global/Page.html" %}
{% load otree static %}


<!--------------------------------------------------------------------------->
{% block scripts %}
<script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/mathjs@9.4.4/lib/browser/math.js"></script>
<script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>

<script>
  function draw() {
    try {
      // compile the expression once
      // const expression = document.getElementById('eq').value + '/5'
      const expression = '(100 - x)^.5 / (100^.5)' 
      const expr = math.compile(expression)

      // evaluate the expression repeatedly for different values of x
      const xValues = math.range(1, 99, 1, true).toArray()
      const yValues = xValues.map(function (x) {
        return expr.evaluate({x: x}).toFixed(4)*100
      })

      // render the plot using plotly
      const trace1 = {
        x: xValues,
        y: yValues,
        type: 'scatter',
        hovertemplate: 'Price: %{y:$.2f}<extra></extra>',
      }

      const layout = {
          title: 'The percent chance that a Green ball <br> drawn from that urn awards you a lottery ticket',
          titlefont: {
                  family: 'Old Standard TT, serif',
                  size: 22,
              },
          xaxis: {
              title: 'The number of balls you decided to draw from a single urn',
              titlefont: {
                  family: 'Old Standard TT, serif',
                  size: 20,
              },
              tickfont: {
                family: 'Old Standard TT, serif',
                size: 14,
                color: 'black',
                range: [-2,102],
                },
              tickmode: "array", // If "array", the placement of the ticks is set via `tickvals` and the tick text is `ticktext`.
              tickvals: [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 99],
              ticktext: ['1', '10', '20', '30', '40', '50','60','70','80','90','99']
          },
          yaxis: {
              title: 'Percent Chance (%)',
              titlefont: {
                  family: 'Old Standard TT, serif',
                  size: 20,
              },
              tickfont: {
              family: 'Old Standard TT, serif',
              size: 14,
              color: 'black'
              },
          },
      };
      
      const data = [trace1]
      Plotly.newPlot('plot', data, layout, {displayModeBar: false})
    }
    catch (err) {
      console.error(err)
      alert(err)
    }
  }

  // document.getElementById('form').onsubmit = function (event) {
  //   event.preventDefault()
  //   draw()
  // }

  draw()
</script>



<script>
  function draw2() {

    function check() {
    //validation code
    const mine = document.getElementById('guess_mine').value
    const teammate = document.getElementById('guess_teammate').value  
    if (mine== parseInt(mine) && teammate == parseInt(teammate) && parseInt(mine) >=0 && parseInt(mine) <=100 && parseInt(teammate) >=0 && parseInt(teammate) <=100) {
      return true;
      } else{
        alert("You must enter an integer from 0-100 for each of the guesses")
      }
}  

  if (check()) {
    try {
          // compile the expression once
          const mine = document.getElementById('guess_mine').value
          const teammate = document.getElementById('guess_teammate').value
          const r1 = document.getElementById('guess_mine').value/200 + document.getElementById('guess_teammate').value/200
          const r2 = 40/200
          const expression = r2 + '*(x)^.5*(100-x)*(1/10) +' + r1 + '*(100-x)^.5*(1/10)*x' // x = # balls to draw from Urn 1 
          const expr = math.compile(expression)
  
          // evaluate the expression repeatedly for different values of x
          const xValues = math.range(1, 99, 1, true).toArray()
          const yValues = xValues.map(function (x) {
            return expr.evaluate({x: x})
            })
          
          const yOptimal = math.max(yValues)
  
          const index = yValues.findIndex(fruit => fruit == yOptimal)
          const Draw1_Optimal = xValues[index]
          const Draw2_Optimal = 100 - Draw1_Optimal
  
          const ExpectedGreen = r1*Draw1_Optimal + r2*Draw2_Optimal
          const ExpectedLT = yOptimal.toFixed(2)
  
          // render the plot using plotly
          const trace1 = {
            x: xValues,
            y: yValues,
            type: 'scatter',
            name: '',
            showlegend: false,
            hovertemplate: 'Price: %{y:$.2f}<extra></extra>',
            }
  
          const trace2 = {
            x: [Draw1_Optimal],
            y: [yOptimal],
            mode: 'markers',
            type: 'scatter',
            name: '',
            text: ['The Maximum'],
            marker: { size: 12 },
            showlegend: false
            }
  
          const layout = {
              title: 'The expected number of lottery tickets you will be awarded',
              titlefont: {
                      family: 'Old Standard TT, serif',
                      size: 20,
                  },
              xaxis: {
                  title: 'You ball-draw decision <br> (# of balls to draw from Urn 1, # of balls to draw from Urn 2)',
                  titlefont: {
                      family: 'Old Standard TT, serif',
                      size: 18,
                  },
                  tickfont: {
                  family: 'Old Standard TT, serif',
                  size: 14,
                  color: 'black',
                  range: [-2,102],
                  },
                  tickmode: "array", // If "array", the placement of the ticks is set via `tickvals` and the tick text is `ticktext`.
                  tickvals: [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 99],
                  ticktext: ['(1,99)','(10,90)', '(20,80)', '(30,70)', '(30,70)', '(40,60)','(50,50)','(60,40)','(70,30)','(80,20)','(99,1)']
                },
              yaxis: {
                  title: 'The expected number of lottery tickets',
                  titlefont: {
                      family: 'Old Standard TT, serif',
                      size: 18,
                  },
                  tickfont: {
                  family: 'Old Standard TT, serif',
                  size: 14,
                  color: 'black',
                  },
                  hoverformat: '.2f',
                  range: [0,100],
              },
              autosize: false,
              width: 700,
              height: 500,
              margin: {
                l: 50,
                r: 50,
                b: 100,
                t: 100,
                pad: 4
              },
            };
  
          const data = [trace1, trace2]
          Plotly.newPlot('plot2', data, layout, {displayModeBar: false})
          
          $('#reported_mine').html(mine);
          $('#reported_teammate').html(teammate);
          $('#RecommendedAction1').html(Draw1_Optimal);
          $('#RecommendedAction2').html(Draw2_Optimal);
          $('#ExpectedGreen').html(ExpectedGreen);
          $('#ExpectedLT').html(ExpectedLT);
        }
  
    catch (err) {
          console.error(err)
          alert(err)
          }
  }
  }
    
  draw2()
  
  </script>




<script>
  $(document).ready(function(){
    var slider = document.getElementById("DecisionSlider2");
    var urn1 = document.getElementById("Urn1_2");
    var urn2 = document.getElementById("Urn2_2");
    urn1.innerHTML = slider.value; // Display the default slider value
    urn2.innerHTML = 100 - slider.value;
  
    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      urn1.innerHTML = this.value;
      urn2.innerHTML = 100 - this.value;
    }
  
    });
  </script>

<script>
  function myFunction() {
  
    var slider = document.getElementById("DecisionSlider");
    var urn1 = document.getElementById("Urn1");
    var urn2 = document.getElementById("Urn2");
    urn1.innerHTML = slider.value; // Display the default slider value
    urn2.innerHTML = 100 - slider.value;

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      urn1.innerHTML = this.value;
      urn2.innerHTML = 100 - this.value;
      };

    };
</script>

{% endblock %}


<!--------------------------------------------------------------------------->
{% block styles %}

<link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">

<style>
  input[type=radio] {
    transform: scale(1.5);
    margin: 12px -10px 0px -30px;
  }
</style>

<style>
p    {font-size: 120%; line-height: 200%;}
ul    {font-size: 120%; line-height: 200%;}
</style>

<style>
  .otree-body{
      max-width: 80%;
  }
</style> 

<style>

.myslider{
  width: 100%;
  }

.myslider {
  -webkit-appearance: none;
  background: #e0e0e0;
  width: 100%;
  height: 25px;
  opacity: 2;
  }

.myslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: #4f5e60  ;
  width: 15px;
  height: 25px;
  }

.myslider:hover {
  opacity: 1;
  }

 </style>

 
<style>

  .grid-container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "decision_tool history"
      "decision_tool history"
      "decision history";
  }
  
  .decision { grid-area: decision; }
  
  .history { grid-area: history; }
  
  .decision_tool { grid-area: decision_tool; }
  
  </style>
  

{% endblock %}


<!--------------------------------------------------------------------------->
{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

  <li class="nav-item" >
    <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part5-tab" data-toggle="tab" href="#part5" role="tab" aria-controls="part5" onclick="topFunction()"> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="part6-tab" data-toggle="tab" href="#part6" role="tab" aria-controls="part6" onclick="topFunction()"> </a>
  </li> -->

</ul>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

  <!-- Tab 1 -->
  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>1</strong> out of 3</p>
<p>&nbsp;</p>

<p>
  In this part of the experiment, you are presented with two urns.
</p>
<p>
  Part 3 consists of {{num_game_round}} rounds.
  In every round, you are asked to draw a total of 100 balls from Urn 1 and Urn 2.
  <br>
  <u>Your task is to decide how many balls to draw from each urn. </u>
  You can draw 1-99 balls from a single urn.
</p>

<ul>
  <li>
  <strong><em>Urn 1</em></strong> contains 200 balls.
  There are as many Green balls as <strong>YOU</strong> and <strong>YOUR TEAMMATE</strong> received in Part 1 . 
  The rest of the balls are Black.
  </li>
  <li>
  <em><strong>Urn 2</strong></em> contains 200 balls.
  There are 40 Green balls. 
  The rest of the balls are Black.
  </li>
</ul>

<p>
  <em>Reminder:</em> You and your teammate received Green balls based on the performance of the slider task in Part 1.  
</p>
<ul>
  <li>
    The better <strong>YOU</strong> were at the slider task, the more Green balls you received, and hence the more Green balls are in <strong>Urn 1</strong>.
  </li>
  <li>
    The better <strong>YOUR TEAMMATE</strong> were at the slider task, the more Green balls your teammate received, and hence the more Green balls are in <strong>Urn 1</strong>.
  </li>
</ul>

<br>
<p>
  Whenever a ball is drawn from whichever urn, the drawn ball is replaced with the same-colored ball. 
  Therefore, the probabilities of drawing a Green ball (and the probabilities of drawing a Black ball) from Urn 1 and Urn 2 do <em>NOT</em> change.
</p>

<p>Here are some examples:</p>

<ul>
  <li>
    Suppose you received 30 Green balls and your teammate received 60 Green balls in Part 1.
    <br>
    This means, whenever a ball is drawn from Urn 1, the ball is Green with (30+60)/2 = 45 percent chance and Black with the remaining percent chance (100-45 = 55 percent chance).
    Furthermore, whenever a ball is drawn from Urn 2, the ball is Green with 40/2 = 20 percent chance and Black with the remaining percent chance (100-20 = 80 percent chance).
  </li>
  <li>
    Suppose you received 50 Green balls and your teammate received 25 Green balls in Part 1.
    <br>
    This means, whenever a ball is drawn from Urn 1, the ball is Green with (50+25)/2 = 37.5 percent chance and Black with the remaining percent chance (100-37.5 = 62.5 percent chance).
    Furthermore, whenever a ball is drawn from Urn 2, the ball is Green with 40/2 = 20 percent chance and Black with the remaining percent chance (100-20 = 80 percent chance).
  </li>
  <li>These are just examples for your clarification. 
    The chances you will face in the actual experiment may be completely different.</li>  
</ul>


<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

</div>



<!-- Tab 2 -->
<div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

  <p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>2</strong> out of 3</p>
<p>&nbsp;</p>
<!-- <h3><strong>How do you earn points?</strong></h3> -->
<p>
  In every round, you earn either 200 points or zero points. 
  <br> Once you submit your decision on how many balls to draw from each urn, the computer draws 100 balls accordingly. 
  <br> Afterward, you get lottery tickets depending on your submitted ball-draw decision and the colors of the drawn balls.
  <br> <u>The more lottery tickets you get, the more likely you earn 200 points.</u>
  You will see the detailed explanation on how your payoff will be determined on the next page.
</p>

<br>
<p>
  <strong>How do you get lottery tickets? </strong>
</p>

<p>
  There are two factors that determine how many lottery tickets you will get:
</p>
<p style="padding-left: 10px;">
<em>(1) How many Green balls are drawn.</em>
</p>
<p style="padding-left: 25px;">
  For every drawn <span style="color: green;"><strong>Green</strong></span> ball, 
    you get one lottery ticket or no lottery ticket.
    For every drawn Black ball, you always get nothing.
    <br>
    Therefore, you are likely to get more lottery tickets as you draw more Green balls.
</p>

<p style="padding-left: 10px;">
  <em>(2) How many balls you decide to draw from each urn</em>
</p>
<p style="padding-left: 25px;">
  The probability of a drawn Green ball awarding you a lottery ticket depends on how many balls you decided to draw from each urns.
  The more balls you decided to draw from a single urn, the less likely it is that a Green ball drawn from that urn awards you a lottery ticket. 
  The below figure visualizes the relationship between the number of ball-draws from a single urn (the x-axis)
  and the probability that a Green ball drawn from that urn awards you a lottery ticket (the y-axis).
  <!-- The x-axis represents the number of balls that you decided to draw from Urn 1 (or Urn 2).
  The y-axis represents the probability that a Green ball drawn from the same urn awards you a lottery ticket. -->
  If you take your mouse cursor on the figure, it displays exact probabilities. 
  For example, if you take your mouse cursor on the very right of the figure where the value on the x-axis equals 99, 
  you will see the corresponding y-value is 10. 
  This means, if you decided to draw 99 balls from one urn (either Urn 1 or Urn 2), 
  a Green ball drawn from the same urn awards you a lottery ticket with 10 percent chance. 
  As another example, take your mouse cursor on the very left of the figure where the value on the x-axis equals 1 and the corresponding y-value is 99.5.
  This means, if you decided to draw one ball from one urn (either Urn 1 or Urn 2) and the drawn ball is Green, the Green ball awards you a lottery ticket with 99.5 percent chance.
</p>

<br>
<div align="center" id="plot"></div>
<!-- <br>
<p>
  For example, if you take your mouse cursor on the very right of the figure where the value on the x-axis equals 99, 
  you will see the corresponding y-value is 10. 
  This means, if you decided to draw 99 balls from one urn (either Urn 1 or Urn 2), 
  a Green ball drawn from the same urn awards you a lottery ticket with 10 percent chance. 
  As another example, take your mouse cursor on the very left of the figure where the value on the x-axis equals 1 and the corresponding y-value is 99.5.
  This means, if you decided to draw one ball from one urn (either Urn 1 or Urn 2) and the drawn ball is Green, the Green ball awards you a lottery ticket with 99.5 percent chance.
</p> -->

<br>
<p>
  <strong>How do you optimize ball-draw decisions? </strong>
</p>
<p>
  Then, what should you do to get as many lottery tickets as possible and increase the probability of earning 200 points?
  In one hand, you should draw more balls from the urn that, you believe, contains more Green balls 
  because only Green balls give you a chance to get lottery tickets.
  However, you do not want to draw too many balls from the urn even if you are very confident that it has far more Green balls than the other urn. 
  The more balls are drawn from one urn, the less likely it is a Green ball drawn from that urn awards you a lottery ticket.  
  <!-- Therefore, it is obviously not simple to make the optimal ball-draw decision (which guarantees the highest probability of earning 200 points) 
  and to predict how many lottery tickets you will get. -->
</p>
<p>
  To help your decision-making, we provide a simulator in every decision-making screen.
  To use the simulator, you must report your guesses about how many Green balls you and your teammate received in Part 1. 
  Conditional on your guesses, the simulator
  predicts the expected number of lottery tickets you will get for every possible ball-draw decision. 
  By <em>the expected number of lottery tickets you will get</em> we mean, 
  the average number of lottery tickets you will get if you repeat the same ball-draw decision infinitely many times. 
  Therefore, the simulator can inform you the optimal ball-draw decision that, conditional on your reported guesses, 
  maximizes the expected number of lottery tickets you will get and hence guarantees the highest probability of earning 200 points. 
</p>

<br>
<p>
  <strong>Practice decision-making! </strong>
</p> 

<p>
  Here, you can play around with the simulator and practice your decision-making.
  The below is the decision-making screen you will face in the actual decision-making rounds. 
</p>

<p>
  There is the simulator on the top left of the decision-making screen. 
  Note that your guesses about the number of Green balls you and your teammate received are set to be zero by default.
  To revise your guesses, you should enter an integer from 0-100 for each of the guesses 
  (the minimum and the maximum numbers of Green balls one can receive are 0 and 100). 
  Once you click "Calculate" button, you will see the corresponding simulation result.
  You may enter different guesses as many times as you wish. 
  Whenever you enter new guesses, you must click "Calculate" button so that the simulator updates the simulation results accordingly.
</p>
<p>
  How you interpret the simulation results?
  First, the x-axis represents ball-draw decisions.
  As the x-value gets closer to the right, it means more balls are drawn from Urn 1 and less balls are drawn from Urn 2.
  For example, the very left value on the x-axis (1,99) indicates you draw 1 ball from Urn 1 and 99 balls from Urn 2.
  The very right value on the x-axis (99,1) indicates you draw 99 balls from Urn 1 and 1 ball from Urn 2.
  
  Second, the y-axis represents the expected number of lottery tickets you will get, conditional on your entered guesses.
  Taking your mouse cursor on the simulation results displays the exact value. 
</p>
<p>
  As an example, suppose you guessed you received 40 Green balls and your teammate received 60 Green balls. 
  Then, you should enter 40 and 60 for your guesses about yourself and about your teammate, respectively, and then click "Calculate" button. 
  The simulation result shows every pair of a ball-draw decision and the expected number of lottery tickets you will get conditional on your entered guess. 
  For instance, conditional on your entered guesses, 
  you are expected to get 2.48 lottery tickets when you draw 1 ball from Urn 1 and 99 balls from Urn 2 (the very left of the x-axis).
  Conditional on your entered guesses, 
  you are expected to get 5.15 lottery tickets when you draw 99 balls from Urn 1 and 1 ball from Urn 2 (the very right of the x-axis).
  Also, notice that, the optimal ball-draw decision that, conditional on your entered guesses, maximizes the expected number of lottery tickets you will get is colored in orange.
  In this example, conditional on your entered guesses, 
  you are expected to get 25.19 lottery tickets to the maximum when you draw 58 balls from Urn 1 and 42 balls from Urn 2. 
  The simulator also announces what ball-draw decision leads to the optimal ball-draw decision at the bottom of the simulation results.
</p>
<p>
  To submit your decision, you should use the decision-slider located at the bottom left of the decision-making screen. 
  Once you have submitted your decision, you may not reverse your decision.
  Afterward, you will receive information about 
  the total number of Green balls drawn out of 100 ball draws
  and the number of lottery tickets that are consequently awarded to you.
</p>
<p>
  To help you keep track of your decisions over time, 
  we also provide you with a history box located on the right of the decision-making screen.
</p>


<br>
<!--------------------------------------------------------------------------->
<div class="grid-container" style = "background-color: rgba(190, 190, 190, 0.26); padding: 0px; margin: 0px;">

	<!-- decision tool -->
<br>
<div class="decision_tool" style = "width: 100%; border: 2px solid rgb(10, 10, 10); padding: 10px; margin: 10px; font-size: 100%;" >

  <h3 style="text-align: center;"> Simulator </h3>
  
  <!-- <p> <strong>  Enter your guesses: </strong></p>  -->
  
  <table class="table borderless" align="center" style="border-spacing: 90; width: 75%; font-size: 100%;">
    <colgroup>
    <col width="40%">
    <col width="40%">
    <col width="20%">
    </colgroup>
      
    <tr>
    <td align="center"> Your Guess about <br> # of GREEN balls <b> YOU </b> received </td>
    <td align="center"> Your Guess about <br> # of GREEN balls <b> YOUR TEAMMATE </b> received </td>
    <td align="center"> </td>
    </tr>
      
    <tr>
    <td align="center"> <input type='text' name='practice_guess_mine' id='guess_mine' value='0' />  </td>
    <td align="center"> <input type='text' name='practice_guess_teammate' id='guess_teammate' value='0' />  </td>
    <!-- <td align="center"> <input type="submit" value="Calculate" /> </td> -->
    <td> <button type="button" onclick="draw2()" >Calculate</button>  </td>
    </tr>
      
  </table>
  
  <div id="plot2" align="center"></div> 
  
  <br>
  <p style="padding-left: 10px;"> 
    Conditional on that you received <strong><span id="reported_mine">  </span></strong> Green balls 
    and your teammate received <strong><span id="reported_teammate">  </span></strong> Green balls, 
    you are expected to get <strong><span id="ExpectedLT"> </span></strong> lottery tickets to the maximum 
    when you draw <strong><span id="RecommendedAction1"> </span></strong> balls from Urn 1 and <strong><span id="RecommendedAction2"> </span></strong> balls from Urn 2.
  </p>


    </div>

    
	<!-- History -->
	<div class="history" style = "width: 95%; font-size: 75%; border: 2px solid rgb(10, 10, 10); padding: 0px; margin: 10px; ">
	
    <h3 style="text-align: center;"> Round History </h3>
    <br>
    <table class="table" style="border-spacing: 90; width: 95%;">
      <colgroup>
      <col width="20%">
      <col width="20%">
      <col width="20%">
      <col width="20%">
      <!-- <col width="20%"> -->
      </colgroup>
    
      <tr>
        <th rowspan="2" style= "vertical-align: middle; text-align: center;" >Round</th>
        <th colspan="2" style="text-align: center;">Your Decision</th>
        <!-- <th rowspan="2" style= "vertical-align: middle; text-align: center;"># of GREEN balls drawn</th> -->
        <th rowspan="2" style= "vertical-align: middle; text-align: center;"># of lottery tickets awarded to you</th>
      </tr>
      <tr>
        <th style= "vertical-align: middle; text-align: center;"># of balls drawn<br>from Urn 1</th>
        <th style= "vertical-align: middle; text-align: center;"># of balls drawn<br>from Urn 2</th>
      </tr>
    

      <tr>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <td style= "vertical-align: middle;" align = "center"> </td>
      <!-- <td style= "vertical-align: middle;" align = "center"></td> -->
      </tr>

    
    </table>	
      </div>
    
      
      <!-- Decision -->
      <div class="decision" style = "width: 100%; border: 2px solid rgb(10, 10, 10); padding: 10px; margin: 10px; font-size: 75%;" >
    
    <h3 style="text-align: center;"> Make your decision! </h3>
    <br>		
    <table class="table borderless" align="center" style="border-spacing: 90; width: 90%; font-size: 115%;">
      <colgroup>
      <col width="20%">
      <col width="60%">
      <col width="20%">
      </colgroup>
    
      <tr>
      <td align="center" style = "vertical-align: middle;"> From Urn 1, draw <br> <strong> <span id="Urn1"> NaN </span> </strong> balls </td>
      <td align="center" style = "vertical-align: middle;"> 
        <input type="hidden" name="check_DecisionSlider" id="check_DecisionSlider"> 
        <input type="range" min="1" max="99" class = "myslider" id="DecisionSlider" name="draw_urn1" step="1" onclick="myFunction()"> 
      </td>
      <td align="center" style = "vertical-align: middle;"> From Urn 2, draw <br> <strong> <span id="Urn2"> NaN </span> </strong> balls </td>
      </tr> 
    
    </table>
    
      </div>		
    
    </div>		
    


<!-- 
<p>&nbsp;</p>
<h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
<p style="text-align: center;">Page <strong>2</strong> out of 6</p>
<p>&nbsp;</p>
<p>Part 3 consists of {{num_game_round}} rounds.</p>
<p>
  In every round, you are asked to decide how many balls to draw from each urn. 
  <br>You can draw 1-99 balls from a single urn. You have to draw 100 balls in total. 
</p>
<p>Your choice will look like this. The slider gets activated once you click it.</p>
<br>
<table align = "center" style = "border: 3px solid gray;" cellspacing="10" cellpadding="20">
  <colgroup>
     <col width="20%">
     <col width="60%">
     <col width="20%">
  </colgroup>

  <tr>
    <td align="center" style = "font-size: 100%;"> From Urn 1, <br>draw <strong> <span id="Urn1"> NaN </span> </strong> balls </td>
    <td align="center" style = "vertical-align: middle;"> 
      <input type="range" min="1" max="99" class = "myslider" id="DecisionSlider" step="1" onclick="myFunction()"> 
    </td>
    <td align="center" style = "font-size: 100%;"> From Urn 2, <br>draw <strong> <span id="Urn2"> NaN </span> </strong> balls </td>
  </tr> 
</table>
<p>&nbsp;</p>
<p>Whenever a ball is drawn from whichever urn, the drawn ball is replaced with the same-colored ball. 
  Therefore, the probabilities of drawing a <span style="color: green;"><strong>Green</strong></span> ball (and the probabilities of drawing a Black ball) from Urn 1 and Urn 2 do NOT change.
</p>
<br>
<p>For example, suppose out of 100 balls in Urn 1, 70 balls are Green. Further, assume that out of 100 balls in Urn 2, 20 balls are Green. This implies:</p>
<ul>
<li>Whenever a ball is drawn from Urn 1, the ball is Green with 70% probability and Black with 30% probability.</li>
<li>Whenever a ball is drawn from Urn 2, the ball is Green with 20% probability and Black with 80% probability.</li>
<li>These are examples that are meant to clarify that the probability of drawing a Green (or Black) ball from each urn remains constant during the entire experiment.
  The chances you will face in the actual experiment may be completely different.</li>  
</ul> -->

<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
  
  </div>



<!-- Tab 3 -->
<div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

  <p>&nbsp;</p>
  <h1 style="text-align: center;"><strong>PART 3 Instructions</strong></h1>
  <p style="text-align: center;">Page <strong>3</strong> out of 3</p>
  <p>&nbsp;</p>
  <!-- <h3><strong>How do you earn points?</strong></h3> -->
  
  
  <p>
    At the end of every round, the computer draws a random number "X" from the interval [0,100]. 
    Any number within the interval [0,100] is equally likely to be selected.
    If "X" is less than or equal to the total number of lottery tickets awarded to you, you earn 200 points.
    If "X" is greater than the total number of lottery tickets awarded to you, you earn nothing.
    Here are some examples:
  </p>
  <ul>
    <li>
      If you've got 100 lottery tickets, you earn 200 points for sure (with 100 percent chance).
    </li>
    <li>
      If you've got 50 lottery tickets, you earn 200 points with 50 percent chance and earn nothing with 50 percent chance.
    </li>
    <li>
      If you've got 0 lottery tickets, there is no chance that you earn 200 points (with 0 percent chance). 
    </li>
  </ul>
  <p>
    In other words, the more lottery tickets you are awarded, the more likely you earn 200 points.
    Every lottery ticket awarded to you increases the probability of earning 200 points by 1 percent chance.
  </p>
  
  <br>
  <p>
    At the end of Part 3, i.e. when you finished all of {{num_game_round}}  rounds, one of the earnings from these {{num_game_round}} rounds will be randomly chosen as your payment from Part 3.
  </p>
  <br>
  
  <p>On the next screen, you are presented with comprehension questions.
    If any of your submitted answers are incorrect, you may be excluded from the experiment and deprived of all payments aside from the minimum payment of $5 for attending.</p>
  <br>
  <p>You can review the instructions by clicking "Back". 
    <br>Once you get familiar with Part 3 instructions, click &ldquo;Confirm&rdquo;.</p>
  
  
    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button> 
    <button class="nexttab btn-primary btn next">Confirm</button>
  </div>
  {% endblock %}
  




